<div class="flocknotes-wrapper">
<div class="flocknotes-logo"><img src="images/template/flocknote.svg" alt="" /></div>
<div class="flocknotes-form">
<h3 class="g-title">Email Update Signup</h3>
<form action="https://app.flocknote.com/group/117576/addToGroupFromOutside" method="post" target="_blank"><input name="fname" type="text" placeholder="First Name" /> <input name="lname" type="text" placeholder="Last Name" /> <input name="email" type="email" placeholder="Email Address" /> <input name="mobile_phone" type="tel" placeholder="Mobile Phone" /> <button class="button" type="submit" value="submit">Sign Me Up</button></form>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
<div style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""> </div>
</div>
<div class="flocknotes-feed">
<h3 class="g-title">Latest Flocknotes</h3>
{loadmoduleid 184}</div>
</div>