<div class="facebook-widget-wrapper widget-wrapper">
<div class="widget-title">
<h3 class="g-title">Facebook</h3>
</div>
<div class="widget-feed">
<div class="widget-feed-inner-box">
<script src="https://static.elfsight.com/platform/platform.js" async=""></script>
<div class="elfsight-app-54fe2611-ae76-4aec-9f3d-a8bd5f7069aa" data-elfsight-app-lazy=""> </div>
</div>
</div>
<div class="widget-button"><a class="button" href="https://www.facebook.com/stjoeshelby/" target="_blank" rel="noopener noreferrer">Follow Us</a></div>
</div>