<div class="footer-wrapper">
<div class="holy-art-box">
<p><a href="https://www.holyart.com/" target="_blank" rel="noopener noreferrer">HolyArt.com</a> is a proud sponsor of this parish website.</p>
</div>
<div class="footer-content-row">
<div class="footer-content-column">
<div class="footer-content-box">
<h2>St. Joseph Church</h2>
<p><a href="about-us/contact-us">125 E Broadway St</a><br /><a href="about-us/contact-us">Shelbyville, IN 46176</a><br /><a href="tel:317-398-8227">317-398-8227</a></p>
</div>
<div class="footer-content-box">
<h2>St. Vincent de Paul Church</h2>
<p><a href="about-us/contact-us">4218 E Michigan Rd</a><br /><a href="about-us/contact-us">Shelbyville, IN 46176</a><br /><a href="tel:317-398-8227">317-398-8227</a></p>
</div>
<div class="footer-content-box">
<h2>Joint Parish Office</h2>
<p><a href="about-us/contact-us">228 E. Hendricks St</a><br /><a href="about-us/contact-us">Shelbyville, IN 46176</a><br /><a href="tel:317-398-8227">317-398-8227</a></p>
</div>
</div>
<div class="footer-social-icons" style="text-align: center;">{loadmoduleid 185}</div>
</div>
</div>