<div class="footer-wrapper">
<div class="footer-row footer-content-row">
<div class="footer-content">
<div class="footer-content-column">
<div class="footer-content-inner-column">
<h2><a href="home">Parish Office Info</a></h2>
<p><a href="about/contact-us">St. Gertrude RC Church</a><br /><a href="about/contact-us">28 School Street,</a><br /><a href="about/contact-us">Bayville, NY 11709</a><br />Telephone: <a href="tel:5166281113">(516) 628-1113</a><br />Fax: (516) 628-9032</p>
<h2>Office Hours</h2>
<p>Monday to Thursday: 9 AM - 4 PM<br />(closed 12 - 12:30 PM for lunch)</p>
</div>
<div class="footer-content-inner-column">
<h2>Religious Education</h2>
<p>Phone: <a href="tel:516622432">(516) 628-2432</a></p>
<h2>Preschool</h2>
<p>Phone: <a href="tel:5166283710">(516) 628-3710</a></p>
</div>
</div>
<div class="footer-links-column">
<h2>Links</h2>
<div class="inner-links"><a href="about/parish-registration">Parish Registration</a><a href="items/182-how-do-i-plan-a-funeral">Funeral Information</a><a href="https://www.drvc.org/" target="_blank" rel="noopener noreferrer">Diocese Website</a><a href="https://giving.myparishsoft.io//app/giving/FD-83" target="_blank" rel="noopener noreferrer">Online Giving</a><a href="news/bulletin">Bulletin</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://www.franciscanmedia.org/saint-of-the-day/" target="_blank" rel="noopener noreferrer">Saint of the Day</a></div>
</div>
</div>
<div class="footer-logo"><a href="home"><img src="images/template/emblem.svg" alt="Footer Logo Emblem" /></a></div>
</div>
<div class="footer-row footer-text-row">
<p>Contact of visit the rectory for assistance with sacraments, confession appointments,<br />religious education and formation, mass cards, etc. We look forward to connecting<br /> with you!</p>
</div>
</div>