<div class="instagram-widget-wrapper widget-wrapper">
<div class="widget-title">
<h3 class="g-title">Instagram</h3>
</div>
<div><!-- Elfsight Instagram Feed | StGertrude-Bay -->
<script src="https://elfsightcdn.com/platform.js" async=""></script>
<div class="elfsight-app-f7e2c5da-6c77-4d90-8e40-52c8bcd4368c" data-elfsight-app-lazy=""> </div>
</div>
<div class="widget-text">
<p>"Pour down on my soul those graces which flow from Your love. Let my heart be united with Yours. Let my will be conformed to Yours in all things. May Your Will be the rule of all my desires and actions. Amen."</p>
<h6>- St. Gertrude</h6>
</div>
</div>