<div class="footer-wrapper">
<div class="footer-content-row">
<div class="footer-content-left">
<div class="footer-logo-icon"><a href="home"><img src="images/template/logomark.png" alt="Footer Logo Icon" /></a></div>
<div class="footer-content-main">
<div class="footer-address">
<h6><a href="about/contact-us">2700 Dover Ave,<br />Fairfield, CA 94533, USA</a></h6>
<p>Phone: <a href="tel:7074227767" target="_blank" rel="noopener noreferrer">(707) 422-7767</a> or<br /><a href="tel:7074227768" target="_blank" rel="noopener noreferrer">(707) 422-7768</a><br />Email: <a href="mailto:office@olmcfairfield.org" target="_blank" rel="noopener noreferrer">office@olmcfairfield.org</a></p>
</div>
<div class="footer-hours">
<h6>Office Hours</h6>
<p>Monday - Friday:<br />9AM - 12PM, 1PM - 4PM<br />(or by appointment)</p>
</div>
</div>
</div>
<div class="footer-help-links">
<h6>Helpful Links</h6>
<div class="footer-links-inner"><a href="news/bulletin">Bulletin</a><a href="about/registration">Parish Registration</a><a href="news/calendar">Calendar</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a></div>
</div>
</div>
<div class="footer-bottom-row">
<div class="footer-social-icons">{loadmoduleid 160}</div>
<div class="footer-copyright">
<p>2026 OLMC Catholic Church. All rights reserved.</p>
</div>
</div>
</div>