<div class="mt-wrapper">
<div class="mt-content">
<h2 class="mt-big-title">Mass Schedule</h2>
<h3>Weekend</h3>
<p>Saturday: 5:00 PM (Vigil)<br />Sunday: 8:00 AM, 10:00 AM, 12:00 PM, <br />2:00PM (Spanish), 6:00 PM</p>
<h3>Daily Mass</h3>
<p>Monday - Saturday: 9:00 AM</p>
<h3>Holy Days</h3>
<p>9:00 AM, 12:00 PM, 7:00 PM</p>
<h3>Sacrament of Reconciliation</h3>
<p>Saturdays: 3:00 - 4:30 PM<br />First Saturday of the Month:<br />Immediately following the 9:00 AM Mass</p>
</div>
<div class="mt-button"><a class="button" href="https://www.youtube.com/@ourladyofmountcarmel6322/streams" target="_blank" rel="noopener noreferrer">Watch Mass Live</a></div>
</div>