<div class="footer-wrapper">
<div class="footer-content">
<h1><a href="home">St. Bonaventure<br />Catholic Church</a></h1>
<p><strong><a href="about-us/contact-us">1918 Palo Alto Rd.<br />San Antonio, TX 78211</a></strong><br />Phone: <a href="tel:2109221685" target="_blank" rel="noopener noreferrer">210-922-1685</a></p>
</div>
<div class="footer-links">
<div class="footer-important-links"><a href="about-us/join-our-parish">Parish Registration</a><a href="news/donate">Online Giving</a><a href="https://archsa.org/news/" target="_blank" rel="noopener noreferrer">Diocesan News</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://www.ewtn.com/" target="_blank" rel="noopener noreferrer">EWTN</a></div>
</div>
</div>