<div class="facebook-widget-wrapper widget-wrapper" style="height: 900px;">
<div class="widget-title">
<h3 class="g-title">Facebook</h3>
</div>
<div class="widget-feed">
<div class="widget-feed-inner-box"><!-- Elfsight Facebook Feed | StBon-Antonio -->
<script src="https://elfsightcdn.com/platform.js" async=""></script>
<div class="elfsight-app-d4235946-9bf9-4644-a768-f9b7daa78636" data-elfsight-app-lazy=""> </div>
</div>
</div>
<div class="widget-button"><a class="button" href="https://www.facebook.com/people/St-Bonaventure-Catholic-Church-San-Antonio-Texas/100064657300759/" target="_blank" rel="noopener noreferrer">Follow Us</a></div>
</div>