<div class="footer-wrapper">
<div class="footer-content-column">
<div class="footer-social-icons">{loadmoduleid 157}</div>
<div class="footer-content-row">
<div class="footer-content-c">
<h2><a href="about-us/contact-us">2713 S. Grove Avenue<br />Ontario, CA. 91761</a></h2>
<p>Phone: <a href="tel:9099472956" target="_blank" rel="noopener noreferrer">(909) 947-2956</a><br />Fax: <a href="tel:9098530491" target="_blank" rel="noopener noreferrer">(909) 853-0491</a></p>
</div>
<div class="footer-content-c">
<h2>Office Hours</h2>
<p>Monday: 1:00 pm - 5:30 pm<br />Tuesday - Thursday: 9:00 am to 5:30 pm<br />Friday: 9:00 am till Noon</p>
</div>
</div>
</div>
<div class="footer-logo-icons">
<div class="footer-logo"><a href="home"><img src="images/template/picmark.svg" alt="Footer Logo Icon" /></a></div>
<div class="footer-protect"><a href="https://www.docyp.org/" target="_blank" rel="noopener noreferrer"><img src="images/template/safe-environment.png" alt="Promise to Protect" /></a></div>
</div>
</div>