<h1 class="mt-big-title">Mass Schedule</h1>
<h1>Weekend Masses</h1>
<p><strong>Saturday:</strong> <br />- 4:00 pm (English)<br />- 5:30 pm (Spanish Vigil)<br />- 7:00 pm (2nd Saturday - Filipino)</p>
<p><strong>Sunday:</strong> <br />- 7:00 am, 8:30 am &amp; 10:00 am (English)<br />- 11:30 am (Portuguese)<br />- 1:00 pm (Spanish)<br />- 3:00 pm (1st &amp; 3rd Sundays - Igbo)<br />- 5:30 pm (English)</p>
<h2>Weekday Masses</h2>
<p><strong>Monday - Saturday:</strong> 7:00 am (Lauds), 7:30 am (Mass)<br /><strong>Tuesday &amp; Thursday:</strong> 6:00 pm (Mass &amp; Vespers - English)</p>