<div class="wel-wrapper">
<div class="wel-title">
<h2>Welcome</h2>
</div>
<div class="wel-content">
<p>We're truly glad you're here! Inspired by the life of St. Elizabeth Ann Seton, we strive to live with a deep trust in God, a spirit of humility, and a generous love for others, especially through service and a commitment to Catholic education and family life. Whether you are visiting, searching for a parish home, or simply reaching out, know that you are warmly welcomed into a community that seeks to follow Christ with the same faith, perseverance, and charity that marked her life. We look forward to connecting with you and walking alongside you.</p>
</div>
<div class="wel-button"><a class="button" href="about-us/welcome-to-seas">Learn More</a></div>
</div>