<div class="footer-wrapper">
<div class="footer-logo"><a href="home"><img src="images/template/church26/logo.svg" alt="Footer Logo" /></a></div>
<div class="footer-content">
<h6><a href="about-us/contact-us">1807 Stevens</a><br /><a href="about-us/contact-us">Parsons, KS 67357</a></h6>
<p>Fr. Nic Jurgensmeyer<br />Office Hours: Tue-Fri 8-3:30<br />Closed holidays &amp; holy days<br />Phone: <a href="tel:620-421-6762">620-421-6762</a><br /><a href="mailto:rectory@stpatricksparsons.org" target="_blank" rel="noopener noreferrer">rectory@stpatricksparsons.org</a></p>
</div>
</div>