<div class="mt-sched">
<div class="mt-sched-title">
<h2>Mass Schedule</h2>
</div>
<div class="mt-sched-content">
<div class="mt-sched-column">
<h6>Sunday Obligation Masses</h6>
<p>Saturday - 5:00pm<br />Sunday - 7:30am, 9:00am</p>
</div>
<div class="mt-sched-column mt-sched-column-center">
<div class="mt-sched-center">
<h6>Weekday Masses</h6>
<p>Wed-Fri - 8:00am<br />Tuesday - 5:30pm</p>
</div>
</div>
<div class="mt-sched-column">
<h6>Confessions</h6>
<p>Tue-Fri - 30 minutes prior to Mass</p>
</div>
</div>
</div>