<div class="wyb-wrapper">
<div class="wyb-title">
<h1>Where You Belong</h1>
</div>
<div class="wyb-content">
<p>At St. Barnabas, our parish mission is the "Great Commission", given to us by our Lord Jesus Christ: "Then Jesus approached and said to them, 'All power in heaven and on earth has been given to me. Go, therefore, and make disciples of all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Spirit, teaching them to observe all that I have commanded you. And behold, I am with you always, until the end of the age.'" (Matthew 28:18-20)</p>
</div>
</div>