<div class="footer-wrapper">
<div class="footer-logo-social-icons">
<div class="footer-logo"><a class="logo-icon-footer" href="https://www.stbindy.org/"><img src="images/template/logo-icon-footer.svg" alt="" /></a><a class="logo-text-footer" href="https://www.stbindy.org/"><img src="images/template/logo-text-footer.svg" alt="" /></a></div>
<div class="footer-social-icons">{loadmoduleid 149}</div>
</div>
<div class="footer-content-wrapper">
<div class="footer-contact-row">
<p><a href="contact-us-directions">8300 Rahke Road | Indianapolis, IN 46217</a><br />Phone: <a href="tel:3178820724" target="_blank" rel="noopener noreferrer">317-882-0724</a> | Fax No.: 317-887-8932 | Emergency No.: <a href="tel:3178864744" target="_blank" rel="noopener noreferrer">317-886-4744</a><br /><a class="link-line" href="mailto:parishoffice@stbindy.org" target="_blank" rel="noopener noreferrer">parishoffice@stbindy.org</a> | Office Hours: Mon to Fri | 9AM - 4PM</p>
</div>
<div class="footer-contact-row">
<h2>School Contact Info</h2>
<p>Phone: <a href="tel:3178817422" target="_blank" rel="noopener noreferrer">317-881-7422</a> | Fax No.: 317-887-8933<br />Email: <a href="mailto:school@stbindy.org" target="_blank" rel="noopener noreferrer">school@stbindy.org</a><br />School Hours: Mon to Fri | 7:30AM - 3PM</p>
</div>
</div>
</div>