<h1 class="mt-big-title">Mass Times</h1>
<p><strong>Weekend Mass Schedule</strong><br />Saturday Vigil Mass: <a href="https://vimeo.com/event/3606700" target="_blank" rel="noopener noreferrer">5:00 PM</a></p>
<p>Sunday Mass: 7:00AM | <a href="https://vimeo.com/event/2022633" target="_blank" rel="noopener noreferrer">9:00AM</a> |<br />11:00AM | 1:30PM Chin Mass</p>
<p><strong>Weekday Mass Schedule</strong><br />Monday to Friday: 8:30AM</p>
<p><strong>Reconciliation / Confession</strong><br />Thursday: 7:45 - 8:20AM Before Mass &amp; 9:00 - 9:30AM: After Mass | Saturday: 4:00PM Before Saturday Vigil Mass</p>
<p><span class="mt-italic">Confessions are also available by appointment.</span></p>
<p><span class="mt-italic"><strong>Healing Service<br /></strong></span>The First Friday of every month after 8:30 AM Mass.  This service is for anyone who is suffering from an illness or is facing a surgery. </p>
<p> </p>
<p> </p>
<p><span id="PING_CONTENT_MB_MAIN" style="display: none;"></span></p>