<div class="welcome-wrapper">
<div class="welcome-title">
<h3 class="g-title">Welcome</h3>
</div>
<div class="welcome-content">
<p>Welcome to St. Lawrence the Martyr Catholic Church. Whether you are a longtime parishioner, new to the area, or visiting for the first time, we are grateful that you are here. Our parish is a community centered on Jesus Christ and nourished by the Holy Eucharist, where individuals and families grow in faith through prayer, the Sacraments, and service to others. I invite you to join us for Mass, become involved in the life of the parish, and allow our patron, St. Lawrence the Martyr, to inspire us to live the Gospel with faith, generosity, and joy. May God bless you and your family, and know that you are always welcome here.</p>
</div>
<div class="welcome-bottom-icon"><img src="images/template/leaf-graphic.svg" alt="" /></div>
</div>