<p>Receive occasional emails with parish news, upcoming events, ministry opportunities, and important announcements to help you stay connected with the life of the parish.</p>
<!-- Begin Constant Contact Active Forms -->
<script>// <![CDATA[
var _ctct_m = "06b9d6346338bdc94ca55bfe42823dac";
// ]]></script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async="" defer="defer"></script>
<!-- End Constant Contact Active Forms -->
<p> </p>
<!-- Begin Constant Contact Inline Form Code -->
<div class="ctct-inline-form" data-form-id="d28bde00-32b3-49c6-884d-dc5e994dff39"> </div>
<!-- End Constant Contact Inline Form Code -->