<div class="footer-wrapper">
<div class="footer-info">
<div class="footer-title">
<div class="footer-info-logo"><a href="home"><img src="images/template/leaf-graphic.svg" alt="" /></a></div>
<h2><a href="home">St. Lawrence<br />Catholic Church</a></h2>
</div>
<div class="footer-content">
<p><a href="about/contact-us">6222 Franconia Road<br />Alexandria, VA, 22310</a><br /><a href="tel:7039714378" target="_blank" rel="noopener noreferrer">(703) 971-4378</a><br /><a href="mailto:office@stlawrencealex.org" target="_blank" rel="noopener noreferrer">office@stlawrencealex.org</a></p>
</div>
</div>
<div class="footer-links-icon">
<div class="footer-links"><a href="about/parish-registration">Parish Registration</a><a href="https://giving.myparishsoft.io//app/giving/FD-325" target="_blank" rel="noopener noreferrer">Online Giving</a><a href="https://www.arlingtondiocese.org/" target="_blank" rel="noopener noreferrer">Diocesan Website</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://www.franciscanmedia.org/saint-of-the-day/" target="_blank" rel="noopener noreferrer">Saint of the Day</a></div>
<div class="footer-icon"><img src="images/template/logomark.svg" alt="" /></div>
</div>
</div>