<div class="footer-wrapper">
<div class="footer-content">
<div class="footer-logo-icon"><a href="home"><img src="images/template/logo-footer.png" alt="" /></a></div>
<div class="footer-content-text">
<div class="footer-logo-text"><a href="about-us/contact-us"><img src="images/template/footer-text.svg" alt="" /></a></div>
<div class="footer-inner-content">
<p><a class="phone-icon" href="tel:6203421061" target="_blank" rel="noopener noreferrer">Phone: 620-342-1061</a><br /><a class="env-icon" href="mailto:emporiacatholics@shemporia.org" target="_blank" rel="noopener noreferrer">emporiacatholics@shemporia.org</a></p>
</div>
</div>
</div>
<div class="footer-important-links">
<div class="footer-important-links-inner"><a href="about-us/parish-registration">Parish Registration</a><a href="https://pushpay.com/g/shemporia" target="_blank" rel="noopener noreferrer">Make a Donation</a><a href="https://salinadiocese.org/news-and-updates/" target="_blank" rel="noopener noreferrer">Diocesan News</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://formed.org/" target="_blank" rel="noopener noreferrer">Formed</a></div>
</div>
</div>
<div class="sub-footer-box">
<p><strong>© 2025 Sacred Heart Catholic Church</strong></p>
</div>