<div class="footer-wrapper">
<div class="footer-icon-content">
<div class="footer-icon"><a href="home"><img src="images/template/footer.png" alt="" /></a></div>
<div class="footer-content">
<h1><a href="home">St. Christopher Parish</a></h1>
<p><a href="about-us/contact-us">5301 W. 16th St., Indianapolis, IN 46224</a><br />Phone: <a href="tel:3172416314" target="_blank" rel="noopener noreferrer">(317) 241-6314</a><br />Sacramental Emergency Phone: <a href="tel:3174871164" target="_blank" rel="noopener noreferrer">(317) 487-1164</a><br />Parish Office Hours M-F 8:30 am - 4 pm</p>
</div>
</div>
<div class="footer-links">
<div class="footer-inner-links"><a href="about-us/parish-registration">Parish Registration</a><a href="https://www.wesharegiving.org/app/giving/WeShare-20001107?tab=home" target="_blank" rel="noopener noreferrer">Online Giving</a><a href="https://www.archindy.org/" target="_blank" rel="noopener noreferrer">Archdiocese Website</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://www.franciscanmedia.org/saint-of-the-day/" target="_blank" rel="noopener noreferrer">Saint of the Day</a></div>
</div>
</div>