<div class="mission-wrapper">
<div class="mission-title">
<h1>Parish Mission</h1>
</div>
<div class="mission-content">
<p><strong>The mission of Saint Christopher Parish is to participate in Christ's mission of evangelization by witnessing and sharing in the mission of Jesus who calls us to love God with our whole hearts and to love neighbors, even as God loves us. We attempt to carry out our mission through our worship, service, faith formation, community life and stewardship.</strong></p>
<p class="nomargin"><strong>Saint Christopher's participation in this mission is expressed:</strong></p>
<ul>
<li>through our communal celebration of the sacraments and formation by the Word of God;</li>
<li>through many ministries, especially through the authenticity of our daily living;</li>
<li>through seeking the challenge of new ministries whenever and wherever greater needs emerge;</li>
<li>through inviting all to share their gifts in reaching out and working lovingly among people;</li>
<li>through witnessing the truth that God is with us as we serve at the parish, deanery and Archdiocesan level.</li>
</ul>
</div>
</div>