<div class="flocknote-widget-wrapper widget-wrapper">
<div class="widget-title">
<h3 class="g-title">Flocknote</h3>
</div>
<div class="widget-feed">
<div class="widget-feed-inner-box">
<p style="text-align: center;"><img src="images/template/flocknote.png" /></p>
<div><form action="https://app.flocknote.com/group/442153/addToGroupFromOutside" method="post" target="_blank"><input name="fname" type="text" placeholder="First Name" /> <input name="lname" type="text" placeholder="Last Name" /> <input name="email" type="email" placeholder="Email Address" /> <input name="mobile_phone" type="tel" placeholder="Mobile Phone" /> <button class="button" type="submit" value="submit">Sign Me Up</button></form>
<div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;" data-lastpass-icon-root=""> </div>
</div>
<div class="flocknote-feed">
<h3 class="g-title">Latest Flocknotes</h3>
{loadmoduleid 140}</div>
</div>
</div>
<div class="widget-button"><a class="button" href="#">Read More</a></div>
</div>