<div class="mt-dual">
<div class="mt-dual-column">
<p>Daily Rosary | Monday - Friday, 30 minutes before Mass</p>
<h1>Saturday</h1>
<p>5 p.m. | St. Dominic<br />Reconciliation<br />9:30 a.m. | Holy Name<br />4 p.m. | St. Dominic</p>
<h2>Sunday</h2>
<p>7:30 a.m. | Holy Name<br />9 a.m. | St. Clement<br />10:30 a.m. | Holy Name<br />10:30 a.m. | St. Dominic<br />12:15 p.m. | St. Clement (Spanish)</p>
<h3>Monday</h3>
<p>5:30 p.m. | St. Dominic</p>
</div>
<div class="mt-dual-column">
<h4>Tuesday</h4>
<p>8 a.m. | Holy Name<br />5:15 p.m. | St. Clement (Spanish)<br />Reconciliation<br />5:45 p.m. | St. Clement<br />Adoration<br />12-7 p.m. | St. Clement with Benediction at 7:00 p.m.</p>
<h5>Wednesday</h5>
<p>8 a.m. | St. Dominic</p>
<h6>Thursday</h6>
<p>8 a.m. | St. Clement</p>
<h1>Friday</h1>
<p>8 a.m. | Holy Name (School Mass)</p>
</div>
</div>