<div class="column-wrapper connect-wrapper">
<div class="column-title connect-title">
<h3 class="g-title">Connect With Us</h3>
</div>
<div class="column-content connect-content">
<p>Thank you for joining the St. Elizabeth of Hungary RC Church mailing list. We look forward to keeping you informed.</p>
<p> </p>
<div class="ctct-inline-form" data-form-id="775215e8-e63e-45f1-be41-f2ca1a449de9"> </div>
</div>
<div class="column-button connect-button"><a class="button" href="subscribe">Sign Up</a></div>
</div>