<div class="mt-column">
<div>
<h2>Weekend Mass</h2>
<p>Saturday Vigil: 5:00pm<br />Sunday: 9:00am &amp; 11:30am</p>
<h2>Weekday Mass</h2>
<p>Monday to Thursday: 9:30am</p>
<p> </p>
<p><span style="text-decoration: underline;"><strong>Weekly Devotions<br /></strong></span>Morning Prayer Group: Thurs at 8:15am<br />Eucharistic Adoration: Thurs after 9:30am Mass<br />Benediction: 1st Thursday monthly after Adoration<br />Recitation of the Rosary: Mon 7:00pm | Tues 8:45am | Wed 9:00am<br />First Saturday Devotion: 9:00am Mass (1st Saturday Monthly)</p>
</div>
<div>
<p class="smaller-text"><span style="text-decoration: underline;"><strong>Weekly Devotions<br /></strong></span>Morning Prayer Group: Thurs at 8:15am<br />Eucharistic Adoration: Thurs after 9:30am Mass<br />Benediction: 1st Thursday monthly after Adoration<br />Recitation of the Rosary: Mon 7:00pm | Tues 8:45am | Wed 9:00am<br />First Saturday Devotion: 9:00am Mass (1st Saturday Monthly)</p>
</div>
</div>