<div class="footer-wrapper">
<div class="footer-logo"><a href="home"><img src="images/template/logo-white.png" alt="Footer Logo" /></a></div>
<div class="footer-content-boxes">
<div class="footer-content">
<p><a href="about/contact"><strong>175 Wolf Hill Rd<br />Melville, NY 11747</strong></a><br />Phone: <a href="tel:6312714455" target="_blank" rel="noopener noreferrer">(631) 271-4455</a><br /><a href="mailto:center@stelizabeth.org" target="_blank" rel="noopener noreferrer">center@stelizabeth.org</a></p>
</div>
<div class="footer-links">
<div class="footer-inner-links"><a href="about/parish-registration">Parish Registration</a><a href="subscribe">Subscribe</a><a href="https://swipesimple.com/links/lnk_40212c10" target="_blank" rel="noopener noreferrer">Online Giving</a><a href="mass-intentions">Mass Intentions</a><a href="https://www.drvc.org/" target="_blank" rel="noopener noreferrer">Diocesan News</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://www.franciscanmedia.org/saint-of-the-day/" target="_blank" rel="noopener noreferrer">Saint of the Day</a></div>
</div>
</div>
</div>