<div class="footer-wrapper">
<div class="footer-logo"><a href="home"><img src="images/template/logo-text-church.svg" alt="Footer Logo" /></a></div>
<div class="footer-content">
<div class="footer-inner-content">
<p><a href="our-parish/contact-us">3642 North Ridge Road<br />Wichita, Kansas 67205</a><br />Parish Office: <a href="tel:3164250595" target="_blank" rel="noopener noreferrer">(316) 425-0595</a><br />Fax: <a href="tel:3164250685" target="_blank" rel="noopener noreferrer">(316) 425-0685</a></p>
</div>
<div class="footer-social-icons">{loadmoduleid 193}</div>
</div>
</div>