<div class="vocation-wrapper">
<div class="vocation-row">
<div class="vocation-grid">
<h3 class="g-title">Vocations from our Parish</h3>
{loadmoduleid 191}</div>
<div class="vocation-text">
<p>Heavenly Father, bless our diocese with the grace of many vocations to the priesthood and religious life. Through the intercession of the Blessed Mother, grant to those You have called the willingness and generosity of spirit to give themselves in devoting their lives and their talents to the service of our Lord and to His Church. Increase the faith of all within our diocese and particularly the faith of those You have called to continue the call. We ask this through Christ, Your Son. Amen</p>
</div>
<div class="vocation-grid">
<h3 class="g-title">Pray for Our Seminarians</h3>
{loadmoduleid 192}</div>
</div>
<div class="vocation-row"><a class="button" href="https://catholicdioceseofwichita.org/" target="_blank" rel="noopener noreferrer">Visit Catholic Diocese of Wichita Website</a></div>
</div>