<div class="mt-wrapper">
<div class="mt-title">
<h3 class="g-title"><a id="mass"></a>Mass Schedule &amp; Parish Information</h3>
</div>
<div class="mt-content">
<div class="mt-column">
<h2>Weekend Mass</h2>
<p>Saturday: 4:45 PM (Vigil Mass)<br />Sunday: 7:30 AM, 9:00 AM, 11:00 AM</p>
<h2>Weekday Mass</h2>
<p>Monday: 7:30 AM, 5:30 PM<br />Tuesday: 7:30 AM<br />Wednesday: 7:30 AM<br />Thursday: 7:30 AM<br />Friday: 7:30 AM, 5:30 PM<br />Saturday: 7:30 AM</p>
</div>
<div class="mt-column">
<h2>Confession Times</h2>
<p>Monday - Saturday: 7:00 AM to 7:25 AM<br />Monday - Friday: 5:00 PM to 5:25 PM<br />Saturday: 4:00 PM to 5:00 PM<br />Confessions are also heard during weekend Masses</p>
<h2>Perpetual Adoration Times</h2>
<p>The Blessed Sacrament is exposed 24 hours a day, 7 days a week. Those wishing to occasionally adore may enter through the church during normal operating hours. Those whishing to have a regularly scheduled hour can contact the parish office.</p>
</div>
<div class="mt-column">
<h2>Office Hours</h2>
<p>Monday - Friday: 8am - 4pm<br />Phone: 316-425-0595<br />Fax: 316-425-0685</p>
<h2>Prayer Requests</h2>
<p>Email: sienaprayerchain@gmail.com</p>
<h2>All Parishioners</h2>
<p>Please keep us informed of changes in names, addresses, phone numbers, etc. to update our files.</p>
</div>
</div>
</div>