<div class="footer-wrapper">
<div class="footer-logo-links">
<div class="footer-logo"><a href="home"><img src="images/template/logo.png" alt="Footer Logo" /></a></div>
<div class="footer-social-icons">{loadmoduleid 155}</div>
</div>
<div class="footer-content">
<p><a href="get-connected/193-contact-us-directions">20 Chestnut Street Centereach, NY 11720</a><br />Phone: <a href="tel:6315858760" target="_blank" rel="noopener noreferrer">631-585-8760</a><br /><a href="mailto:rectory@abvmcentereach.com" target="_blank" rel="noopener noreferrer">rectory@abvmcentereach.com</a></p>
</div>
</div>