<div class="calendar-widget-wrapper widget-wrapper">
<div class="widget-title">
<h3 class="g-title">Calendar</h3>
</div>
<div class="widget-feed">
<div class="widget-feed-inner-box"><iframe width="800" height="400" style="border-width: 0;" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=solutiosoftware.net_8msm9288ui8epu6ugdn14f27ts%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FChicago" frameborder="0" scrolling="no"></iframe></div>
</div>
<div class="widget-button"><a class="button" href="#">View More</a></div>
</div>