/* ARTWORK NOTES
--------------------------------------------
#0A381E rgba(10,56,30,1)
#002611 rgba(0,38,17)
--------------------------------------------
*/
html body.site-home {
    --section-slideshow-bg: var(--background-color);
    --section-above-bg: var(--secondary-color);

    --section-utility-bg: var(--secondary-color);
    --section-container-main-bg: var(--primary-color);
    --section-expanded-bg: var(--primary-color);
    --section-extension-bg: var(--secondary-color);

    --slideshow-height: min(36.25vw, 533.25px);
}

.floatator .fullwidth-swiper.rotate-wide {
    --slideshow-height: min(36.25vw, 533.25px);
}

html body {
    --side-menu-bg: var(--primary-color);
    --side-menu-bg-hover: var(--secondary-color);
    --side-menu-font-size-desktop: min(1.25vw, 1.25rem);
    --side-menu-font-family: var(--body-font-family);
    --side-menu-font-weight: 400;

    --section-bottom-bg: var(--color-four);
    --section-footer-bg: var(--color-four);
    --section-copyright-bg: var(--color-four);
}

html body #g-navigation {
    --main-menu-text-color: var(--default-white);
    --main-menu-text-color-hover: var(--default-white);
	--main-menu-bg: var(--secondary-color);

    --navigation-floating-social-padding: min(1vw, 1rem);
}

.g-array-item-text {
    margin: 0!important;
    padding: 0!important;
}

/* NAVIGATION */
@media only screen and (min-width: 50.99rem) {
    .free-menu > .g-container > .g-grid:has(.ql-toplinks-studius) {
        padding: min(2vw, 2rem) min(2vw, 2rem) 0 min(2vw, 2rem)!important;
    }

    .free-menu > .g-container > .g-grid:has(.nav-social-icons) {
        --navigation-floating-social-right: min(2vw, 2rem);
        --navigation-floating-social-border-radius: 0 0 1rem 1rem;
        --navigation-floating-social-bg: var(--default-white);

        --navigation-floating-social-items-color: var(--primary-color);
    }

    .free-menu > .g-container > .g-grid:has(.nav-social-icons) .g-social-items a:hover {
        --navigation-floating-social-items-color-hover: var(--tertiary-color);
    }

    .free-menu .g-main-nav .g-toplevel>li:not(.g-toplevel>li:has(.g-social-items))>.g-menu-item-container {
        padding: min(1.5vw, 1.5rem) min(1vw, 14.4px);
    }

    .free-menu > .g-container > .g-grid:has(.g-main-nav) .g-social-items a:not(:has(.fa-search)) {
        display: none!important;
    }

    .ql-toplinks-studius .g-blockcontent-subcontent-block {
        border-radius: 1rem;
        overflow: hidden;
    }
}

@media only screen and (min-width: 50.99rem) {
    #g-navigation > .g-container > .g-grid:has(.g-main-nav) {
        position: relative;
    }
    #g-navigation > .g-container > .g-grid:has(.g-main-nav):before {
        content: '';
        background: var(--secondary-color);
        height: 100%;
        width: 3000%;
        margin-left: -500%;
        margin-right: -500%;
        position: absolute;
        border-top: 2px solid var(--tertiary-color);
        border-bottom: 2px solid var(--tertiary-color);
        box-shadow: var(--default-box-shadow);
    }
}

@media only screen and (min-width: 50.99rem) {
    #g-navigation .g-main-nav .g-sublevel>li>.g-menu-item-container {
        color: var(--default-white);
    }
    #g-navigation .g-main-nav .g-sublevel>li>.g-menu-item-container:hover {
        background: var(--secondary-color);
        color: var(--default-white)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    #g-navigation > .g-container {
        padding: 2rem 0 0 0!important;
    }
    #g-navigation > .g-container > .g-grid:has(.nav-social-icons) {
        display: none!important;
    }

    #g-offcanvas .g-social-items {
        flex-wrap: wrap;
    }
}

/*SLIDESHOW*/
@media only screen and (min-width: 50.99rem) {
    .mass-times-block .g-array-item-text :is(h1,h2,h3,h4,h5,h6) {
        font-size: min(1.5vw, 1.5rem);
        text-transform: uppercase;
    }
    .mass-times-block .g-array-item-text :is(h1,h2,h3,h4,h5,h6).mt-big-title {
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: min(2.5vw, 2.5rem);
    }
}

@media only screen and (max-width: 50.99rem) {
    .mass-times-block {
        padding: 1.5rem;
    }

    .mass-times-block .g-array-item-text :is(h1,h2,h3,h4,h5,h6) {
        text-transform: uppercase;
    }
    .mass-times-block .g-array-item-text :is(h1,h2,h3,h4,h5,h6).mt-big-title {
        text-transform: uppercase;
        letter-spacing: 8px;
        border-bottom: 2px solid var(--primary-color);
        text-align: center;
    }
}

/*UTILITY*/
@media only screen and (min-width: 50.99rem) {
    .site-home #g-utility > .g-container {
        padding: min(3vw, 3rem) min(2vw, 2rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-utility > .g-container {
        padding: 2rem 1rem!important;
    }
}

@media only screen and (min-width: 50.99rem) {
    .ql-blocktitle {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle > .g-content {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle .g-blockcontent {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle .g-blockcontent-subcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: min(2vw, 2rem);
    }
    .ql-blocktitle .g-blockcontent-subcontent-block {
        margin: 0;
        padding: 0;
        position: relative;
        flex: 1;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-block:hover {
        transform: translateY(-.75rem);
    }
    .ql-blocktitle .g-blockcontent-subcontent-block:hover .g-blockcontent-subcontent-title {
        background: rgba(var(--tertiary-color-rgb),1);
    }
    .ql-blocktitle .g-blockcontent-subcontent-block-content {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-position: center;
        object-fit: cover;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-title {
        margin: 0;
        padding: min(.75vw, .75rem);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(var(--tertiary-color-rgb),.9);
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: min(1.25vw, 1.25rem);
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        font-family: var(--body-font-family);
        color: var(--secondary-color);
        text-transform: none;
        font-variant-caps: normal;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-title-text {
        margin: 0;
        padding: 0;
        font-size: min(1.25vw, 1.25rem);
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        font-family: var(--body-font-family);
        color: var(--secondary-color);
        text-transform: none;
        font-variant-caps: normal;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-buttons {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
    .ql-blocktitle .g-blockcontent-buttons a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
}

@media only screen and (max-width: 50.99rem) {
    .ql-blocktitle {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle > .g-content {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle .g-blockcontent {
        margin: 0;
        padding: 0;
    }
    .ql-blocktitle .g-blockcontent-subcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .ql-blocktitle .g-blockcontent-subcontent-block {
        margin: 0;
        padding: 0;
        position: relative;
        flex: 1;
        min-width: calc(50% - .5rem);
        max-width: calc(50% - .5rem);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-block:hover {
        transform: translateY(-.75rem);
    }
    .ql-blocktitle .g-blockcontent-subcontent-block:hover .g-blockcontent-subcontent-title {
        background: rgba(var(--tertiary-color-rgb),1);
    }
    .ql-blocktitle .g-blockcontent-subcontent-block-content {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-position: center;
        object-fit: cover;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-title {
        margin: 0;
        padding: .75rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(var(--tertiary-color-rgb),.9);
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        font-family: var(--body-font-family);
        color: var(--secondary-color);
        text-transform: none;
        font-variant-caps: normal;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-subcontent-title-text {
        margin: 0;
        padding: 0;
        font-size: 4vw;
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        font-family: var(--body-font-family);
        color: var(--secondary-color);
        text-transform: none;
        font-variant-caps: normal;
        transition: .3s all ease-in-out;
    }
    .ql-blocktitle .g-blockcontent-buttons {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
    .ql-blocktitle .g-blockcontent-buttons a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
}

/*MAIN*/
@media only screen and (min-width: 50.99rem) {
    .site-home #g-container-main .g-title {
        margin: 0;
        padding: 0;
        line-height: 1.25;
        color: var(--default-white);
        font-size: min(2vw, 2rem);
        text-transform: uppercase;
        font-variant-caps: normal;
        letter-spacing: 8px;
        text-align: left;
        font-family: var(--title-font-family);
        font-weight: 700;
        margin-bottom: min(2vw, 2rem);
    }

    .site-home #g-sidebar {
        display: flex;
        flex-direction: column;
        gap: min(2vw, 2rem);
    }

    .site-home #g-container-main :is(.photoalbum-button, .news-button) .button {
        padding: min(1vw, 1rem) min(1vw, 1rem);
        text-align: center;
        background: var(--tertiary-color);
        color: var(--default-black);
        line-height: 1;
        font-family: var(--body-font-family);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-size: min(1.25vw, 1.25rem);
        font-weight: 400;
    }
    .site-home #g-container-main :is(.photoalbum-button, .news-button) .button:hover {
        background: var(--tertiary-color);
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-container-main > .g-container {
        padding: 2rem 0!important;
    }
    .site-home #g-container-main .g-title {
        margin: 0;
        padding: 0;
        line-height: 1.25;
        color: var(--default-white);
        font-size: 5vw;
        text-transform: uppercase;
        font-variant-caps: normal;
        letter-spacing: 8px;
        text-align: center;
        font-family: var(--title-font-family);
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .site-home #g-sidebar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .site-home #g-container-main :is(.photoalbum-button, .news-button) .button {
        padding: 1rem;
        text-align: center;
        background: var(--tertiary-color);
        color: var(--default-black);
        line-height: 1;
        font-family: var(--body-font-family);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-size: 4vw;
        font-weight: 400;
    }
    .site-home #g-container-main :is(.photoalbum-button, .news-button) .button:hover {
        background: var(--tertiary-color);
    }
}

@media only screen and (min-width: 50.99rem) {
    .ph-sidenews {
        margin: 0;
        padding: 0;
    }
    .ph-sidenews > .g-content {
        margin: 0;
        padding: 0;
    }
    .ph-sidenews .g-content-array {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: min(1.25vw, 1.25rem);
    }
    .ph-sidenews .g-content-array > .g-grid {
        margin: 0;
        padding: 0;
        position: relative;
        background: var(--default-white);
        border-radius: .75rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-content-array > .g-grid:hover {
        transform: scale(1.05);
    }
    .ph-sidenews .g-content-array > .g-grid > .g-block {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-content-array > .g-grid > .g-block > .g-content {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-image {
        margin: 0;
        padding: min(1.5vw, 1.5rem);
        float: left;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-image a {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-image img {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: min(12vw, 12rem);
        height: auto;
        aspect-ratio: 16/9;
        object-position: center;
        object-fit: cover;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        border: 2px solid var(--default-white);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-title {
        margin: 0;
        padding: min(1.5vw, 1.5rem) min(1.5vw, 1.5rem) min(.75vw, .75rem) 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-item-title {
        margin: 0;
        padding: 0;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--title-font-family);
        line-height: 1.2;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        font-variant-caps: normal;
        color: var(--default-black);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-item-title a {
        margin: 0;
        padding: 0;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--title-font-family);
        line-height: 1.2;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        font-variant-caps: normal;
        color: var(--default-black);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-text {
        margin: 0;
        padding: 0 min(1.5vw, 1.5rem) min(1.5vw, 1.5rem) 0!important;
        font-size: min(1vw, 1rem)!important;
        font-family: var(--body-font-family);
        line-height: 1.4;
        font-weight: 400;
        color: var(--default-black);
        opacity: .7;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-read-more {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    .ph-sidenews .g-array-item-read-more a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

@media only screen and (max-width: 50.99rem) {
    .ph-sidenews {
        margin: 0;
        padding: 0;
    }
    .ph-sidenews > .g-content {
        margin: 0;
        padding: 0;
    }
    .ph-sidenews .g-content-array {
        margin: 0;
        padding: 0 12.5vw;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .ph-sidenews .g-content-array::-webkit-scrollbar {
        display: none;
    }
    .ph-sidenews .g-content-array > .g-grid {
        margin: 0;
        padding: 0;
        position: relative;
        background: var(--default-white);
        border-radius: .75rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        transition: .3s all ease-in-out;
        flex: 0 0 75vw;
        width: 75vw;
        max-width: 75vw;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        padding: 1rem;
    }
    .ph-sidenews .g-content-array > .g-grid:hover {
        transform: scale(1.05);
    }
    .ph-sidenews .g-content-array > .g-grid > .g-block {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-content-array > .g-grid > .g-block > .g-content {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    .ph-sidenews .g-array-item-image {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-image a {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-image img {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-position: center;
        object-fit: cover;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        border: 2px solid var(--default-white);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-title {
        margin: 0;
        padding: 0;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-item-title {
        margin: 0;
        padding: 0;
        font-size: 4vw;
        font-family: var(--title-font-family);
        line-height: 1.2;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        font-variant-caps: normal;
        color: var(--default-black);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-item-title a {
        margin: 0;
        padding: 0;
        font-size: 4vw;
        font-family: var(--title-font-family);
        line-height: 1.2;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        font-variant-caps: normal;
        color: var(--default-black);
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-text {
        margin: 0;
        padding: 0!important;
        font-size: 3.5vw!important;
        font-family: var(--body-font-family);
        line-height: 1.4;
        font-weight: 400;
        color: var(--default-black);
        opacity: .7;
        transition: .3s all ease-in-out;
    }
    .ph-sidenews .g-array-item-read-more {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    .ph-sidenews .g-array-item-read-more a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

@media only screen and (min-width: 50.99rem) {
    .site-home #g-mainbar {
        height: 100%;
    }
    .site-home #g-mainbar > .g-grid {
        height: 100%;
    }
    .photoalbum-container {
        height: 100%;
    }
    .photoalbum-container > .g-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .photoalbum-container .g-content-array {
        flex: 1;
    }
    .photoalbum-container .g-content-array > .g-grid {
        height: 100%;
    }
    .photoalbum-container .g-content-array > .g-grid > .g-block {
        height: 100%;
    }
    .photoalbum-container .g-content-array > .g-grid > .g-block > .g-content {
        height: 100%;
    }
    .photoalbum-container .g-array-item {
        height: 100%;
    }
    .photoalbum-container .g-array-item-text {
        height: 100%;
    }
    .photo-album-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: min(2vw, 2rem);
    }
    .photoalbums {
        flex: 1;
    }
}

@media only screen and (min-width: 50.99rem) {
    .photoalbum-container .g-title {
        display: flex;
        flex-direction: row;
        gap: min(1vw, 1rem);
        justify-content: flex-start;
        align-items: center;
    }
    .photoalbum-container .g-title:before {
        content: '\f083';
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: var(--default-white);
        font-size: min(2vw, 2rem);
        line-height: 1.25;
    }

    .photoalbums {
        background: var(--secondary-color);
        padding: min(.75vw, .75rem);
        border-radius: .75rem;
        overflow: hidden;
    }

    .gallery-feed-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: min(1.25vw, 1.25rem);
    }
    .gallery-feed-grid .gallery-feed-link {
        display: flex;
        flex-direction: column;
        gap: min(.75vw, .75rem);
    }
    .gallery-feed-grid .gallery-feed-image img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-position: center;
        object-fit: cover;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
    }
    .gallery-feed-grid .gallery-feed-title {
        margin: 0;
        padding: 0;
        font-size: min(1.25vw, 1.25rem);
        text-align: left;
        color: var(--default-white);
        font-weight: 600;
        font-family: var(--body-font-family);
        line-height: 1.2;
        text-transform: uppercase;
        font-variant-caps: normal;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home #g-mainbar {
        padding: 1rem;
    }
    .photoalbum-container .g-title {
        display: flex;
        flex-direction: row;
        gap: .75rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .photoalbum-container .g-title:before {
        content: '\f083';
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: var(--default-white);
        font-size: 5vw;
        line-height: 1.25;
    }

    .photoalbums {
        background: var(--secondary-color);
        padding: .75rem;
        border-radius: .75rem;
        overflow: hidden;
    }

    .gallery-feed-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .gallery-feed-grid .gallery-feed-link {
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    .gallery-feed-grid .gallery-feed-image img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-position: center;
        object-fit: cover;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
    }
    .gallery-feed-grid .gallery-feed-title {
        margin: 0;
        padding: 0;
        font-size: 4vw;
        text-align: left;
        color: var(--default-white);
        font-weight: 600;
        font-family: var(--body-font-family);
        line-height: 1.2;
        text-transform: uppercase;
        font-variant-caps: normal;
    }

    .photo-album-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/*EXPANDED*/
@media only screen and (min-width: 50.99rem) {
    .site-home #g-expanded > .g-container {
        padding: min(3vw, 3rem) min(2vw, 2rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-expanded > .g-container {
        padding: 2rem 1rem!important;
    }
}

@media only screen and (min-width: 50.99rem) {
    .calendar-container {
        background: var(--default-white);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        padding: min(3vw, 3rem) min(2vw, 2rem);
    }

    .calendar-wrapper {
        display: flex;
        flex-direction: column;
        gap: min(3vw, 3rem);
    }
    .calendar-wrapper .calendar-title .g-title {
        margin: 0;
        padding: 0;
        text-align: left;
        line-height: 1;
        color: var(--default-black);
        font-size: min(2.5vw, 2.5rem);
        text-transform: uppercase;
        font-variant-caps: normal;
        letter-spacing: 8px;
        font-family: var(--title-font-family);
        font-weight: 700;
        border: none;
    }

    .calendar-wrapper .calendar-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calendar-wrapper .calendar-button .button {
        padding: min(1vw, 1rem) min(3vw, 3rem);
        text-align: center;
        background: var(--tertiary-color);
        color: var(--default-black);
        line-height: 1;
        font-family: var(--body-font-family);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-size: min(1.25vw, 1.25rem);
        display: flex;
        flex-direction: row;
        gap: min(.75vw, .75rem);
        align-items: center;
        justify-content: center;
    }
    .calendar-wrapper .calendar-button .button:before {
        content: '\f073';
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: var(--default-black);
        font-size: min(1.25vw, 1.25rem);
        line-height: 1.25;
    }
}

@media only screen and (max-width: 50.99rem) {
    .calendar-container {
        background: var(--default-white);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        padding: 1.5rem;
    }

    .calendar-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .calendar-wrapper .calendar-title .g-title {
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1;
        color: var(--default-black);
        font-size: 5vw;
        text-transform: uppercase;
        font-variant-caps: normal;
        letter-spacing: 8px;
        font-family: var(--title-font-family);
        font-weight: 700;
        border: none;
    }

    .calendar-wrapper .calendar-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calendar-wrapper .calendar-button .button {
        padding: 1rem;
        text-align: center;
        background: var(--tertiary-color);
        color: var(--default-black);
        line-height: 1;
        font-family: var(--body-font-family);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-size: 4vw;
        display: flex;
        flex-direction: row;
        gap: .75rem;
        align-items: center;
        justify-content: center;
    }
    .calendar-wrapper .calendar-button .button:before {
        content: '\f073';
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: var(--default-black);
        font-size: 5vw;
        line-height: 1.25;
    }
}

@media only screen and (min-width: 50.99rem) {
    .calendar-feed .gcaltohtml {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: min(1.25vw, 1.25rem);
    }
    .calendar-feed .gcaltohtml .cc-block {
        margin: 0;
        padding: min(1.5vw, 1.5rem);
        flex: 1;
        background: var(--default-white);
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        display: flex;
        flex-direction: column;
        gap: min(1vw, 1rem);
        transition: .3s all ease-in-out;
    }
    .calendar-feed .gcaltohtml .cc-dateblockformat {
        margin: 0;
        padding: min(1vw, 1rem);
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: .45rem;
        overflow: hidden;
    }
    .calendar-feed .gcaltohtml .cc-monthformat {
        margin: 0;
        padding: 0;
        font-size: min(1.25vw, 1.25rem);
        text-align: center;
        color: var(--default-white);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-weight: 400;
        font-family: var(--body-font-family);
        line-height: 1;
    }
    .calendar-feed .gcaltohtml .cc-dayformat {
        margin: 0;
        padding: 0;
        font-size: min(2vw, 2rem);
        text-align: center;
        color: var(--default-white);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-weight: 700;
        font-family: var(--body-font-family);
        line-height: 1;
    }
    .calendar-feed .gcaltohtml .cc-eventblock {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: min(1vw, 1rem);
        flex: 1;
        justify-content: space-between;
    }
    .calendar-feed .gcaltohtml .cc-innereventblock {
        display: flex;
        flex-direction: column;
        gap: min(1vw, 1rem);
    }
    .calendar-feed .gcaltohtml .cc-eventblock .event {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: min(.75vw, .75rem);
    }
    .calendar-feed .gcaltohtml .cc-timeofday {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: min(1vw, 1rem);
        color: var(--default-black);
        opacity: .7;
    }
    .calendar-feed .gcaltohtml .cc-title {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-size: min(1.25vw, 1.25rem);
        font-weight: 600;
        color: var(--default-black);
    }

    .calendar-feed .cal-event-toggle {
        padding: min(.5vw, .5rem);
        background: var(--tertiary-color);
        color: var(--default-black);
        border-radius: .5rem;
    }
}

@media only screen and (max-width: 50.99rem) {
    .calendar-feed .gcaltohtml {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .calendar-feed .gcaltohtml .cc-block {
        margin: 0;
        padding: 1rem;
        flex: 1;
        background: var(--default-white);
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: .3s all ease-in-out;
    }
    .calendar-feed .gcaltohtml .cc-dateblockformat {
        margin: 0;
        padding: 1rem;
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: .45rem;
        overflow: hidden;
    }
    .calendar-feed .gcaltohtml .cc-monthformat {
        margin: 0;
        padding: 0;
        font-size: 4vw;
        text-align: center;
        color: var(--default-white);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-weight: 400;
        font-family: var(--body-font-family);
        line-height: 1;
    }
    .calendar-feed .gcaltohtml .cc-dayformat {
        margin: 0;
        padding: 0;
        font-size: 5vw;
        text-align: center;
        color: var(--default-white);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-weight: 700;
        font-family: var(--body-font-family);
        line-height: 1;
    }
    .calendar-feed .gcaltohtml .cc-eventblock {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        justify-content: space-between;
    }
    .calendar-feed .gcaltohtml .cc-innereventblock {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .calendar-feed .gcaltohtml .cc-eventblock .event {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    .calendar-feed .gcaltohtml .cc-timeofday {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 3.5vw;
        color: var(--default-black);
        opacity: .7;
    }
    .calendar-feed .gcaltohtml .cc-title {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-size: 4vw;
        font-weight: 600;
        color: var(--default-black);
    }

    .calendar-feed .cal-event-toggle {
        padding: .5rem;
        background: var(--tertiary-color);
        color: var(--default-black);
        border-radius: .5rem;
    }
}

/*EXTENSION*/
@media only screen and (min-width: 50.99rem) {
    .site-home #g-extension > .g-container {
        padding: min(4vw, 4rem) min(2vw, 2rem)!important;
        display: flex;
        flex-direction: column;
        gap: min(3vw, 3rem);
    }

    .site-home #g-extension .ilinks-button > .g-content {
        display: flex;
        justify-content: center;
    }
    .site-home #g-extension .ilinks-button .button {
        padding: min(1vw, 1rem) min(3vw, 3rem);
        text-align: center;
        background: var(--tertiary-color);
        color: var(--default-black);
        line-height: 1;
        font-family: var(--body-font-family);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-size: min(1.25vw, 1.25rem);
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-extension > .g-container {
        padding: 2rem 1rem!important;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .site-home #g-extension .ilinks-button > .g-content {
        display: flex;
        justify-content: center;
    }
    .site-home #g-extension .ilinks-button .button {
        padding: 1rem;
        text-align: center;
        background: var(--tertiary-color);
        color: var(--default-black);
        line-height: 1;
        font-family: var(--body-font-family);
        text-transform: uppercase;
        font-variant-caps: normal;
        font-size: 4vw;
    }
}

@media only screen and (min-width: 50.99rem) {
    .ql-ilinks {
        margin: 0;
        padding: 0;
    }
    .ql-ilinks > .g-content {
        margin: 0;
        padding: 0;
    }
    .ql-ilinks > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ql-ilinks .g-blockcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: min(2vw, 2rem);
    }
    .ql-ilinks .g-blockcontent-header .g-title {
        margin: 0;
        padding: 0;
        line-height: 1;
        color: var(--default-white);
        font-size: min(2.5vw, 2.5rem);
        text-transform: uppercase;
        font-variant-caps: normal;
        letter-spacing: 8px;
        text-align: center;
        font-family: var(--title-font-family);
        font-weight: 700;
    }
    .ql-ilinks .g-blockcontent-subcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: min(1.5vw, 1.5rem);
    }
    .ql-ilinks .g-blockcontent-subcontent-block {
        margin: 0;
        padding: 0;
        position: relative;
        flex: 1;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-block:hover {
        transform: scale(1.05);
    }
    .ql-ilinks .g-blockcontent-subcontent-block-content {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: min(1vw, 1rem);
        height: 100%;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-title {
        margin: 0;
        padding: min(.5vw, .5rem);
        background: rgba(var(--default-white-rgb),.2);
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: var(--default-white);
        font-size: min(1.35vw, 1.35rem);
        line-height: 1.2;
        font-weight: 500;
        font-family: var(--title-font-family);
        text-transform: none;
        font-variant-caps: normal;
        text-align: center;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-title-text {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        font-size: min(1.45vw, 1.45rem);
        line-height: 1.2;
        font-weight: 500;
        font-family: var(--title-font-family);
        text-transform: none;
        font-variant-caps: normal;
        text-align: center;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-buttons {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    .ql-ilinks .g-blockcontent-buttons a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

@media only screen and (max-width: 50.99rem) {
    .ql-ilinks {
        margin: 0;
        padding: 0;
    }
    .ql-ilinks > .g-content {
        margin: 0;
        padding: 0;
    }
    .ql-ilinks > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ql-ilinks .g-blockcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .ql-ilinks .g-blockcontent-header .g-title {
        margin: 0;
        padding: 0;
        line-height: 1;
        color: var(--default-white);
        font-size: 5vw;
        text-transform: uppercase;
        font-variant-caps: normal;
        letter-spacing: 8px;
        text-align: center;
        font-family: var(--title-font-family);
        font-weight: 700;
    }
    .ql-ilinks .g-blockcontent-subcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .ql-ilinks .g-blockcontent-subcontent-block {
        margin: 0;
        padding: 0;
        position: relative;
        flex: 1;
        min-width: calc(50% - .5rem);
        max-width: calc(50% - .5rem);
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-block:hover {
        transform: scale(1.05);
    }
    .ql-ilinks .g-blockcontent-subcontent-block-content {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-title {
        margin: 0;
        padding: .5rem;
        background: rgba(var(--default-white-rgb),.2);
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: var(--default-white);
        font-size: 4vw;
        line-height: 1.2;
        font-weight: 500;
        font-family: var(--title-font-family);
        text-transform: none;
        font-variant-caps: normal;
        text-align: center;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-subcontent-title-text {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        font-size: 4vw;
        line-height: 1.2;
        font-weight: 500;
        font-family: var(--title-font-family);
        text-transform: none;
        font-variant-caps: normal;
        text-align: center;
        transition: .3s all ease-in-out;
    }
    .ql-ilinks .g-blockcontent-buttons {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    .ql-ilinks .g-blockcontent-buttons a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

/*FOOTER*/
.link-line {
    text-decoration: underline;
}

@media only screen and (min-width: 50.99rem) {
    #g-footer > .g-container {
        padding: min(2vw, 2rem) min(2vw, 2rem) min(6vw, 6rem) min(2vw, 2rem)!important;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: min(1.5vw, 1.5rem);
    }
    .footer-wrapper:before {
        content: '';
        border-bottom: 2px solid var(--default-white);
        order: 2;
    }
    .footer-wrapper .footer-top-row {
        display: flex;
        flex-direction: row;
        gap: min(10vw, 10rem);
        order: 1;
    }
    .footer-wrapper .footer-content-side {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: min(2vw, 2rem);
        justify-content: space-between;
    }
    .footer-wrapper .footer-links-logo {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: min(2vw, 2rem);
        justify-content: space-between;
        padding-left: min(4vw, 4rem);
    }
    .footer-wrapper .footer-inner-links {
        display: flex;
        flex-direction: column;
    }
    .footer-wrapper .footer-inner-links a {
        margin: 0;
        padding: 0;
        color: var(--tertiary-color)!important;
        line-height: 2;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--body-font-family);
    }
    .footer-wrapper .footer-inner-links a:hover {
        color: var(--tertiary-color)!important;
    }
    .footer-wrapper .footer-logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-wrapper .footer-logo-icon img {
        width: min(10vw, 10rem);
    }
    .footer-wrapper .footer-top-row h6 {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        line-height: 1.2;
        font-size: min(1.5vw, 1.5rem);
        text-transform: none;
        font-variant-caps: normal;
        font-weight: 600;
        font-family: var(--title-font-family);
        margin-bottom: min(1vw, 1rem);
    }
    .footer-wrapper .footer-top-row p {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        line-height: 2;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--body-font-family);
    }

    .footer-wrapper .footer-top-row .color-link {
        color: var(--tertiary-color)!important;
    }
    .footer-wrapper .footer-top-row .color-link:hover {
        color: var(--tertiary-color)!important;
    }

    .footer-wrapper .footer-bottom-row {
        display: flex;
        flex-direction: row;
        gap: min(2vw, 2rem);
        justify-content: space-between;
        align-items: center;
        order: 3;
    }

    .footer-wrapper .footer-social-icons .g-social-items {
        display: flex;
        flex-direction: row;
        gap: min(1vw, 1rem);
        justify-content: center;
        align-items: center;
    }
    .footer-wrapper .footer-social-icons .g-social-items a {
        font-size: min(2vw, 2rem);
        color: var(--tertiary-color)!important;
    }
    .footer-wrapper .footer-social-icons .g-social-items a:hover {
        color: var(--tertiary-color)!important;
    }

    .footer-wrapper .footer-copyright {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .footer-wrapper .footer-copyright:before {
        content: '\f1f9';
        font-family: 'Font Awesome 6 Free';
        font-size: min(1vw, 1rem);
        font-weight: 900;
        line-height: 1.25;
        color: var(--default-white);
    }
    .footer-wrapper .footer-copyright p {
        margin: 0;
        padding: 0;
        font-size: min(1vw, 1rem);
        color: var(--default-white);
    }
}

@media only screen and (max-width: 50.99rem) {
    #g-footer > .g-container {
        padding: 2rem 1rem 5rem 1rem!important;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer-wrapper:before {
        content: '';
        border-bottom: 2px solid var(--default-white);
        order: 2;
    }
    .footer-wrapper .footer-top-row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        order: 1;
    }
    .footer-wrapper .footer-content-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }
    .footer-wrapper .footer-links-logo {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }
    .footer-wrapper .footer-inner-links {
        display: flex;
        flex-direction: column;
    }
    .footer-wrapper .footer-inner-links a {
        margin: 0;
        padding: 0;
        color: var(--tertiary-color)!important;
        line-height: 2;
        font-size: 4vw;
        font-family: var(--body-font-family);
    }
    .footer-wrapper .footer-inner-links a:hover {
        color: var(--tertiary-color)!important;
    }
    .footer-wrapper .footer-logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-wrapper .footer-logo-icon img {
        width: 50%;
    }
    .footer-wrapper .footer-top-row h6 {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        line-height: 1.2;
        font-size: 5vw;
        text-transform: none;
        font-variant-caps: normal;
        font-weight: 600;
        font-family: var(--title-font-family);
        margin-bottom: 1rem;
    }
    .footer-wrapper .footer-top-row p {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        line-height: 2;
        font-size: 4vw;
        font-family: var(--body-font-family);
    }

    .footer-wrapper .footer-top-row .color-link {
        color: var(--tertiary-color)!important;
    }
    .footer-wrapper .footer-top-row .color-link:hover {
        color: var(--tertiary-color)!important;
    }

    .footer-wrapper .footer-bottom-row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        order: 3;
    }

    .footer-wrapper .footer-social-icons .g-social-items {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .footer-wrapper .footer-social-icons .g-social-items a {
        font-size: 5vw;
        color: var(--tertiary-color)!important;
    }
    .footer-wrapper .footer-social-icons .g-social-items a:hover {
        color: var(--tertiary-color)!important;
    }

    .footer-wrapper .footer-copyright {
        display: flex;
        flex-direction: row;
        gap: 5px;
        text-align: right;
    }
    .footer-wrapper .footer-copyright:before {
        content: '\f1f9';
        font-family: 'Font Awesome 6 Free';
        font-size: 3vw;
        font-weight: 900;
        line-height: 1.25;
        color: var(--default-white);
    }
    .footer-wrapper .footer-copyright p {
        margin: 0;
        padding: 0;
        font-size: 3vw;
        color: var(--default-white);
    }
}

/*BOTTOM*/
@media only screen and (min-width: 50.99rem) {
    #g-bottom {
        position: relative;
        z-index: 10;
    }
    #g-bottom > .g-container {
        padding: 2rem 0!important;
    }
    #g-bottom .admod td {
        padding-top: 0!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    #g-bottom {
        position: relative;
        z-index: 10;
    }
    body.site.withmaxwidth #g-bottom > .g-container {
        padding: 2rem 0!important;
    }
    #g-bottom .admod td {
        padding-top: .5rem!important;
    }
}

.search-page #searchForm .btn {
    background: var(--primary-color);
}

.grid-articles .g-array-item-text a:not(a.button) {
    color: var(--primary-color);
}
.grid-articles .g-array-item-text a {
    color: var(--primary-color);
}

@media only screen and (max-width: 50.99rem) {
    .admod.adside tbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem .5rem;
    }
}

@media only screen and (max-width: 50.99rem) {
    body#site-grid.newslayout #g-container-main > .g-container {
        padding: 2rem 1rem!important;
    }
    body#site-grid.newslayout #g-container-main #g-mainbar {
        margin: 0!important;
        padding: 0!important;
    }

    #site-grid.newslayout .grid-mobile-stacked .g-item-title {
        --grid-title-font-size: 3vw;
    }

    a[href^="mailto:"] {
        word-break: break-word!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    body .side-menu-particle .g-blockcontent-subcontent-title-text {
        --side-menu-font-size-desktop: 4vw;
    }
}

@media only screen and (max-width: 50.99rem) {
    .grid-img-box-shadow-50 .g-array-item-image {
        box-shadow: none!important;
    }
    .grid-mobile-stacked .g-array-item-image img {
        box-shadow: none!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    .bulletin-page .koowa_media {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .bulletin-page .koowa_media__item {
        flex: 1;
        min-width: calc(50% - .5rem);
        max-width: calc(50% - .5rem);
    }
}