<div class="facebook-widget-wrapper widget-wrapper" style="height: 900px;">
<div class="widget-title">
<h3 class="g-title">Facebook</h3>
</div>
<div class="widget-feed">
<div class="widget-feed-inner-box">
<script src="https://static.elfsight.com/platform/platform.js" async=""></script>
<div class="elfsight-app-4a494ad5-1f4b-4a08-a317-aa525a2813fb" data-elfsight-app-lazy=""> </div>
</div>
</div>
<div class="widget-button"><a class="button" href="https://www.facebook.com/stwencnd" target="_blank" rel="noopener noreferrer">Follow Us</a></div>
</div>