<div class="footer-wrapper">
<div class="footer-content-row">
<div class="footer-content-logo"><a href="home"><img src="images/template/logo-emblem.svg" alt="" /></a></div>
<div class="footer-content">
<h1><a href="home">St. Wenceslaus<br />Catholic Church</a></h1>
<p>Physical Address: <a href="about/contact-directions">525 3rd Street East + Dickinson, ND 58601</a><br /><a href="tel:7012253972" target="_blank" rel="noopener noreferrer">(701) 225-3972</a> | <a href="mailto:stwenc@ndsupernet.com" target="_blank" rel="noopener noreferrer">stwenc@ndsupernet.com</a> | <a href="mailto:rshea@bismarkdiocese.com" target="_blank" rel="noopener noreferrer">rshea@bismarckdiocese.com</a><br />Mailing Address: <a href="about/contact-directions">505 3rd Street East + Dickinson, ND 58601</a></p>
</div>
<div class="footer-important-links">
<div class="footer-links"><a href="about/parish-registration">Parish Registration</a><a href="https://www.catholicscomehome.org/" target="_blank" rel="noopener noreferrer">Catholics Come Home</a><a href="https://trinitycatholicschools.com/" target="_blank" rel="noopener noreferrer">Trinity Catholic Schools</a><a href="https://bismarckdiocese.com/" target="_blank" rel="noopener noreferrer">Diocese of Bismarck</a><a href="https://realpresenceradio.com/" target="_blank" rel="noopener noreferrer">RPR Network</a></div>
</div>
</div>
<div class="footer-lower-row">
<h6>Diocese of Bismarck Safe Environment Code of Conduct</h6>
<p>The Diocese of Bismarck is firmly committed to the safety of your youth. Every parish is required to stay in compliance with the Diocesan Safe Environment regulations, including background checks for employees and volunteers, training and educational opportunities, and an annual audit.</p>
<p><a href="?option=com_fileman&amp;view=file&amp;routed=1&amp;name=CodeOfConduct%20(1).pdf&amp;folder=documents&amp;container=fileman-files" target="_blank" rel="noopener noreferrer">Click here to read the Code of Conduct</a></p>
<p>For complete information, visit the <a href="https://bismarckdiocese.com/" target="_blank" rel="noopener noreferrer">Diocese of Bismarck.</a><br />For activities and other information, <a href="https://bismarckdiocese.com/training-children-adults" target="_blank" rel="noopener noreferrer">CLICK HERE</a></p>
</div>
</div>
<!----comment node----><!--a=1-->