<div class="footer-wrapper">
<div class="footer-top-row">
<div class="footer-content-side">
<div class="footer-content-column">
<h6><a href="about/contact">3966 Chestnut Ave.<br />Concord, CA 94519</a></h6>
<p>Tel: <a class="color-link" href="tel:9256890838" target="_blank" rel="noopener noreferrer">925-689-0838</a><br />Fax: 925-689-7899<br /><a class="link-line color-link" href="mailto:stagnesoffice@comcast.net" target="_blank" rel="noopener noreferrer">stagnesoffice@comcast.net</a></p>
</div>
<div class="footer-content-column">
<h6>Office Hours</h6>
<p>Monday-Thursday:<br />9:00 a.m. to 4:00 p.m.<br />Friday: Closed</p>
</div>
</div>
<div class="footer-links-logo">
<div class="footer-links">
<h6>Quick Links</h6>
<div class="footer-inner-links"><a href="news/bulletin">Bulletin</a><a href="about/parish-registration">Parish Registration</a><a href="news/calendar">Calendar</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a></div>
</div>
<div class="footer-logo-icon"><a href="home"><img src="images/template/emblem.svg" alt="Footer Icon" /></a></div>
</div>
</div>
<div class="footer-bottom-row">
<div class="footer-social-icons">{loadmoduleid 154}</div>
<div class="footer-copyright">
<p>2026 St. Agnes Catholic Church. All rights reserved.</p>
</div>
</div>
</div>