<h2 class="mt-big-title">Mass Times</h2>
<h3>Weekdays before Mass</h3>
<p>Saturday Vigil: 5:00 pm<br />Sunday: 7:00 am, 9:00am, 11:00 am, and 5:00 pm<br />Daily: 8:00 am (no Mass on Wednesdays)</p>
<h3>Mass (Via <a href="https://www.youtube.com/@St.AgnesCatholicChurch-cv8nk/streams" target="_blank" rel="noopener noreferrer">Livestream</a>)</h3>
<p>8:00 am Monday-Tuesday and Thursday-Saturday</p>
<p style="text-align: center;"><a class="button transparentbutton" href="https://www.youtube.com/@St.AgnesCatholicChurch-cv8nk/streams" target="_blank" rel="noopener noreferrer">Livestream</a></p>
<h3>Confession</h3>
<p>Saturday at 3:30 pm in the church</p>
<h3>Eucharistic Adoration</h3>
<p>Chapel daily from 6:00 am to 9:00 pm</p>