<div class="footer-wrapper">
<div class="footer-logo"><a href="home-gs"><img src="images/template/gs/gs-logo-white_1.svg" alt="" /></a></div>
<div class="footer-content">
<div class="footer-content-column">
<p><strong>Holy Cross</strong><br /><strong>4470 Hilltop Drive,<br />San Diego, CA 92102</strong><br /><a href="tel:(619) 264-3127">(619) 264-3127</a></p>
</div>
<div class="footer-content-column">
<p><strong>Good Shepherd</strong><br /><strong>8301 Talbert Ave,<br />Huntington Beach, CA 92646</strong><br /><a href="tel:(714) 847-8546">(714) 847-8546</a></p>
</div>
<div class="footer-content-column"><strong> <br /><br /><br /></strong></div>
</div>
</div>