<div class="wel-wrapper">
<div class="wel-box">
<div class="wel-image"><img src="images/template/holy-cross.jpg" alt="&quot;'" /></div>
<div class="wel-content">
<h2>Welcome to Good Shepherd Catholic Cemetery</h2>
<p>Holy Cross is sacred ground where we honor the dignity of every life in faith, hope, and love. As the only Catholic diocesan cemetery in San Diego County, we provide compassionate care, prayerful support, and respectful burial services rooted in the teachings of the Church and the promise of eternal life in Christ. Our serene grounds offer a place for quiet reflection, remembrance, and trust in the Resurrection.</p>
</div>
</div>
<div class="contact-wrapper">
<div class="contact-content">
<p><strong>8301 Talbert Avenue<br />Huntington Beach, CA 92646</strong><br /><strong>Phone:</strong> (619) 264-3127</p>
<p class="no-padding"><strong>Office Hours</strong></p>
<ul class="hours-list">
<li>Monday to Friday: 8:30 AM to 5:00 PM</li>
<li>Saturday: 8?30 AM to 4:30 PM</li>
<li>Sunday: Closed</li>
</ul>
<p class="no-padding"><strong>Cemetery Visiting Hours</strong></p>
<ul class="hours-list">
<li>Open daily: 8:00 AM to 5:00 PM (Standard Time)</li>
</ul>
</div>
<div class="contact-map"><iframe width="600" height="450" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3356.893334626684!2d-117.1010712220303!3d32.71546197368937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d953ec38fb5571%3A0xff41ab1808e1f97e!2s4470%20Hilltop%20Dr%2C%20San%20Diego%2C%20CA%2092102!5e0!3m2!1sen!2sus!4v1774279901694!5m2!1sen!2sus" allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>
</div>