/* ARTWORK NOTES
--------------------------------------------

--------------------------------------------
*/
html body.site-home {
    --section-above-bg: var(--secondary-color);

    --section-bottom-bg: transparent;
}

html body {
    --side-menu-bg: var(--primary-color);
    --side-menu-bg-hover: var(--secondary-color);
    --side-menu-font-size-desktop: min(1.25vw, 1.25rem);
    --side-menu-font-family: var(--body-font-family);
    --side-menu-font-weight: 400;

    --section-footer-bg: var(--default-white);
    --section-copyright-bg: var(--default-white);
}

html body #g-navigation {
    --section-navigation-bg: var(--default-white);

    --main-menu-text-color: var(--default-white);
    --main-menu-text-color-hover: var(--default-white);
	--main-menu-bg: var(--tertiary-color);
    --main-menu-bg-color: var(--tertiary-color);

    --navigation-floating-social-padding: min(1vw, 1rem);

    --navigation-social-item-color: var(--default-white);
    --navigation-social-item-color-hover: var(--default-white);

    --navigation-toplevel-menu-item-text-transform: uppercase;
    --navigation-toplevel-menu-item-font-weight: 600;
}

.g-array-item-text {
    margin: 0!important;
    padding: 0!important;
}

/* NAVIGATION */
@media only screen and (min-width: 50.99rem) {
    #g-navigation {
        border-top: .4rem solid var(--primary-color);
        border-bottom: .4rem solid var(--primary-color);
    }
    .ql-toplinks-vertical-studius {
        --ql-toplinks-gap: min(.75vw, .75rem);

        --ql-toplinks-icon-color: var(--secondary-color);
        --ql-toplinks-title-color: var(--default-black);
        --ql-toplinks-title-font-weight: 700;

        --ql-toplinks-item-padding: min(.75vw, .75rem);
    }

    .ql-toplinks-vertical-studius .g-blockcontent-subcontent-block-content {
        padding: min(.75vw, .75rem) min(1vw, 1rem)!important;
    }
    #g-navigation.center-of-attention .g-main-nav .g-toplevel>li:hover>.g-menu-item-container, #g-navigation.center-of-attention .g-main-nav .g-toplevel>li.active>.g-menu-item-container {
        border: none!important;
    }
    .center-of-attention > .g-container > .g-grid:has(.g-main-nav) .g-social-items a:hover {
        opacity: .5;
    }

    #g-navigation > .g-container > .g-grid:has(.ql-toplinks-vertical-studius) {
        padding: min(2vw, 2rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    #g-navigation > .g-container {
        padding: 1.5rem 0 0 0!important;
    }

    .ql-toplinks-vertical-studius {
        --ql-toplinks-icon-color-mobile: var(--primary-color);
        --ql-toplinks-title-color-mobile: var(--default-black);
        --ql-toplinks-title-font-weight-mobile: 700;
    }
}

@media only screen and (min-width: 50.99rem) {
    #g-navigation > .g-container > .g-grid:has(.g-main-nav) {
        position: relative;
    }
    #g-navigation > .g-container > .g-grid:has(.g-main-nav):before {
        content: '';
        background: var(--tertiary-color);
        height: 100%;
        width: 3000%;
        margin-left: -500%;
        margin-right: -500%;
        position: absolute;
    }
}

@media only screen and (min-width: 50.99rem) {
    #g-navigation .g-main-nav .g-sublevel>li>.g-menu-item-container {
        color: var(--default-white);
    }
    #g-navigation .g-main-nav .g-sublevel>li>.g-menu-item-container:hover {
        background: var(--secondary-color);
        color: var(--default-white)!important;
    }
}

/*SLIDESHOW*/
@media only screen and (min-width: 50.99rem) {
    .site-home .mass-times-block {
        background: var(--primary-color);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);

        --mass-times-block-title-color: var(--default-white);
        --mass-times-block-title-font-family: var(--body-font-family);
        --mass-times-block-title-font-weight: 500;
        --mass-times-block-title-font-size: min(2.5vw, 2.5rem);

        --mass-times-block-para-color: var(--default-white);
        --mass-times-block-para-margin: 0 0 min(1vw, 1rem) 0;
        --mass-times-block-para-font-family: var(--title-font-family);
        --mass-times-block-para-font-size: min(1.25vw, 1.25rem);
    }

    .site-home .mass-times-block .g-array-item-text {
        padding: min(1.5vw, 1.5rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home .mass-times-block {
        background: var(--primary-color);
        overflow: hidden;
        box-shadow: var(--default-box-shadow);

        --mass-times-block-title-color-mobile: var(--default-white);
        --mass-times-block-title-font-family-mobile: var(--body-font-family);
        --mass-times-block-title-font-weight-mobile: 500;
        --mass-times-block-title-font-size-mobile: 6vw;

        --mass-times-block-para-color-mobile: var(--default-white);
        --mass-times-block-para-margin-mobile: 0 0 1rem 0;
        --mass-times-block-para-font-family-mobile: var(--title-font-family);
        --mass-times-block-para-font-size-mobile: 4vw;
    }

    .site-home .mass-times-block .g-array-item-text {
        padding: 1.5rem!important;
    }
}

/* UTILITY */
@media only screen and (min-width: 50.99rem) {
    .site-home #g-utility > .g-container {
        padding: min(2vw, 2rem) min(2vw, 2rem)!important;
    }
    .site-home #g-utility > .g-container > .g-grid {
        display: flex;
        flex-direction: row;
        gap: min(2vw, 2rem);
        align-items: center;
    }
    .site-home #g-utility > .g-container > .g-grid > .g-block:nth-child(1) {
        flex: 1;
        width: unset;
        max-width: unset;
    }
    .site-home #g-utility > .g-container > .g-grid > .g-block:nth-child(2) {
        flex: unset;
        max-width: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-utility > .g-container {
        padding: 2rem 1rem!important;
    }
}

@media only screen and (min-width: 50.99rem) {
    .mission-wrapper {
        display: flex;
        flex-direction: column;
        gap: min(1.5vw, 1.5rem);
    }
    .mission-wrapper .mission-title h1 {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: min(3vw, 3rem);
        font-family: var(--title-font-family);
        color: var(--primary-color);
        font-weight: 700;
        text-transform: none;
        font-variant-caps: normal;
    }
    .mission-wrapper .mission-content p {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--body-font-family);
        color: var(--default-black);
        font-weight: 400;
        text-transform: none;
        font-variant-caps: normal;
        margin-bottom: min(1.5vw, 1.5rem);
    }
    .mission-wrapper .mission-content p.nomargin {
        margin: 0!important;
    }

    .mission-wrapper .mission-content ul {
        margin: 0 0 0 1.5rem!important;
        padding: 0;
        line-height: 1.5;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--body-font-family);
        color: var(--default-black);
        font-weight: 400;
        text-transform: none;
        font-variant-caps: normal;
    }
    .mission-wrapper .mission-content ul li {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-size: min(1.25vw, 1.25rem);
        font-family: var(--body-font-family);
        color: var(--default-black);
        font-weight: 400;
        text-transform: none;
        font-variant-caps: normal;
    }
}

/* FEATURE */
@media only screen and (min-width: 50.99rem) {
    .site-home #g-feature > .g-container {
        padding: min(1vw, 1rem) min(2vw, 2rem) min(2vw, 2rem) min(2vw, 2rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-feature > .g-container {
        padding: 2rem 1rem!important;
    }
}

@media only screen and (min-width: 50.99rem) {
    .ql-united {
        margin: 0;
        padding: 0;
    }
    .ql-united > .g-content {
        margin: 0;
        padding: 0;
    }
    .ql-united > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ql-united .g-blockcontent {
        margin: 0;
        padding: 0;
    }
    .ql-united .g-blockcontent-subcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        border: 3px solid var(--default-white);
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
    }
    .ql-united .g-blockcontent-subcontent-block {
        margin: 0;
        padding: 0;
        position: relative;
        flex: 1;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent > .g-blockcontent-subcontent-block:not(.g-blockcontent-subcontent > .g-blockcontent-subcontent-block:nth-child(1)) {
        border-left: 3px solid var(--default-white);
    }
    .ql-united .g-blockcontent-subcontent-block-content {
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent-block:hover .g-blockcontent-subcontent-img {
        transform: scale(1.10);
    }
    .ql-united .g-blockcontent-subcontent-block:hover .g-blockcontent-subcontent-title {
        background: rgba(var(--primary-color-rgb),1);
    }
    .ql-united .g-blockcontent-subcontent-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent-title {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(var(--primary-color-rgb),.9);
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: min(1vw, 1rem) min(3vw, 3rem);
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent-title-text {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        text-align: center;
        font-size: min(1.5vw, 1.5rem);
        line-height: 1.2;
        font-family: var(--body-font-family);
        font-weight: 500;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-buttons {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
    .ql-united .g-blockcontent-buttons a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

@media only screen and (max-width: 50.99rem) {
    .ql-united {
        margin: 0;
        padding: 0;
    }
    .ql-united > .g-content {
        margin: 0;
        padding: 0;
    }
    .ql-united > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ql-united .g-blockcontent {
        margin: 0;
        padding: 0;
    }
    .ql-united .g-blockcontent-subcontent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        /*border: 3px solid var(--default-white);
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);*/
        justify-content: center;
    }
    .ql-united .g-blockcontent-subcontent-block {
        margin: 0;
        padding: 0;
        position: relative;
        flex: 1;
        transition: .3s all ease-in-out;
        min-width: calc(50% - .5rem);
        max-width: calc(50% - .5rem);
        border: 3px solid var(--default-white);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
    }
    /*.ql-united .g-blockcontent-subcontent > .g-blockcontent-subcontent-block:not(.g-blockcontent-subcontent > .g-blockcontent-subcontent-block:nth-child(1)) {
        border-top: 3px solid var(--default-white);
    }*/
    .ql-united .g-blockcontent-subcontent-block-content {
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent-block:hover .g-blockcontent-subcontent-img {
        transform: scale(1.10);
    }
    .ql-united .g-blockcontent-subcontent-block:hover .g-blockcontent-subcontent-title {
        background: rgba(var(--primary-color-rgb),1);
    }
    .ql-united .g-blockcontent-subcontent-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent-title {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(var(--primary-color-rgb),.9);
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-subcontent-title-text {
        margin: 0;
        padding: 0;
        color: var(--default-white);
        text-align: center;
        font-size: 4dvw;
        line-height: 1.2;
        font-family: var(--body-font-family);
        font-weight: 500;
        transition: .3s all ease-in-out;
    }
    .ql-united .g-blockcontent-buttons {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
    .ql-united .g-blockcontent-buttons a {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

/* UTILITY */
@media only screen and (min-width: 50.99rem) {
    .pop-box {
        margin: 0;
        padding: 0;
    }
    .pop-box > .g-content {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-content-array {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-content-array > .g-grid {
        margin: 0;
        padding: 0;
        position: relative;
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        border: 2px solid var(--default-white);
    }
    .pop-box .g-content-array > .g-grid > .g-block {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-content-array > .g-grid > .g-block > .g-content {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item-image {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item-image a {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item-image img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 3.6/1;
        object-position: center;
        object-fit: cover;
    }
    .pop-box .g-array-item-text {
        margin: 0;
        padding: min(1.5vw, 1.5rem)!important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 60%;
        background: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,0));
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .pop-box .g-array-item-text p {
        color: var(--default-white);
        line-height: 1.2;
        font-size: min(2.5vw, 2.5rem);
        font-weight: 700;
        text-align: left;
    }
    .pop-box .g-array-item-text .button {
        background: var(--primary-color);
        color: var(--default-white);
        border: 1px solid var(--default-white)
    }
}

@media only screen and (max-width: 50.99rem) {
    .pop-box {
        margin: 0;
        padding: 0;
    }
    .pop-box > .g-content {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-content-array {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-content-array > .g-grid {
        margin: 0;
        padding: 0;
        position: relative;
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: var(--default-box-shadow);
        border: 2px solid var(--default-white);
    }
    .pop-box .g-content-array > .g-grid > .g-block {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-content-array > .g-grid > .g-block > .g-content {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item-image {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item-image a {
        margin: 0;
        padding: 0;
    }
    .pop-box .g-array-item-image img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-position: center;
        object-fit: cover;
    }
    .pop-box .g-array-item-text {
        margin: 0;
        padding: 1rem!important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 40%;
        background: linear-gradient(to right, rgba(0,0,0,.95), rgba(0,0,0,0));
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .pop-box .g-array-item-text p {
        color: var(--default-white);
        line-height: 1.2;
        font-size: 5vw;
        font-weight: 700;
        text-align: left;
    }
    .pop-box .g-array-item-text .button {
        background: var(--primary-color);
        color: var(--default-white);
        border: 1px solid var(--default-white)
    }
}

/* MAIN */
@media only screen and (min-width: 50.99rem) {
    .site-home #g-container-main > .g-container {
        padding: min(4vw, 4rem) min(2vw, 2rem)!important;
    }
    .site-home #g-container-main > .g-container > .g-grid {
        display: flex;
        flex-direction: row;
        gap: min(3vw, 3rem);
    }
    .site-home #g-container-main > .g-container > .g-grid > .g-block:nth-child(1) {
        flex: 1;
        width: unset;
        max-width: unset;
    }
    .site-home #g-container-main > .g-container > .g-grid > .g-block:nth-child(2) {
        flex: unset;
        max-width: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-header .news-title {
        font-family: var(--body-font-family);
        font-weight: 500;
        font-size: min(3vw, 3rem);
    }

    .news-button .g-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .news-button .button {
        background: transparent;
        color: var(--default-black);
        padding: min(1vw, 1rem) min(3vw, 3rem);
        border-radius: .25rem;
        border: 2px solid var(--default-black);
        font-family: var(--body-font-family);
        font-size: min(1.25vw, 1.25rem);
        font-weight: 500;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home.withmaxwidth #g-container-main > .g-container {
        padding: 2rem 0!important;
    }

    .news-header .news-title {
        font-family: var(--body-font-family);
        font-weight: 500;
        font-size: 6vw;
        text-align: center;
    }
    .news-button .g-content {
        padding: 1rem;
    }
    .news-button .button {
        background: transparent;
        color: var(--default-black);
        padding: 1rem;
        border-radius: .25rem;
        border: 2px solid var(--default-black);
        font-family: var(--body-font-family);
        font-size: 4vw;
        font-weight: 500;
    }
}


/* EXPANDED */
@media only screen and (min-width: 50.99rem) {
    .site-home #g-expanded {
        background: url('/images/template/bg-calendar-school.jpg') 50% 50% no-repeat;
        background-size: cover;
        position: relative;
        padding-bottom: calc(75px + 4rem)!important;
        margin-bottom: calc(-75px - 4rem)!important;
    }
    .site-home #g-expanded:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(var(--primary-color-rgb),.9);
        z-index: 1;
    }
    .site-home #g-expanded > .g-container {
        position: relative;
        z-index: 2;
        padding: min(5vw, 5rem) min(2vw, 2rem) min(3vw, 3rem) min(2vw, 2rem)!important;
    }
    .site-home #g-expanded > .g-container > .g-grid {
        display: flex;
        flex-direction: row;
        gap: min(4vw, 4rem);
    }
    .site-home #g-expanded > .g-container > .g-grid > .g-block:nth-child(1) {
        flex: 2;
        width: unset;
        max-width: unset;
    }
    .site-home #g-expanded > .g-container > .g-grid > .g-block:nth-child(2) {
        flex: 1;
        width: unset;
        max-width: unset;
    }

    .calbox-container > .g-content {
        height: 100%;
    }
    .calbox-container .g-content-array {
        height: 100%;
    }
    .calbox-container .g-content-array > .g-grid {
        height: 100%;
    }
    .calbox-container .g-content-array > .g-grid > .g-block {
        height: 100%;
    }
    .calbox-container .g-content-array > .g-grid > .g-block > .g-content {
        height: 100%;
    }
    .calbox-container .g-array-item {
        height: 100%;
    }
    .calbox-container .g-array-item-text {
        height: 100%;
    }
    .calbox-container .calendar-widget-wrapper {
        height: 100%;
    }
    .calbox-container .calendar-widget-wrapper .widget-feed {
        flex: 1;
    }

    .site-home #g-expanded .widget-wrapper {
        display: flex;
        flex-direction: column;
        gap: min(2vw, 2rem);
    }
    .site-home #g-expanded .widget-wrapper .widget-title .g-title {
        margin: 0;
        padding: 0;
        line-height: 1;
        border: none;
        background: none;
        color: var(--default-white);
        font-family: var(--body-font-family);
        font-size: min(3vw, 3rem);
        font-weight: 500;
        text-transform: none;
        font-variant-caps: normal;
        text-align: left;
    }

    .facebook-widget-wrapper .widget-feed {
        margin: 0!important;
        padding: 0!important;
    }

    .site-home #g-expanded .widget-button .button {
        background: var(--tertiary-color);
        color: var(--default-white);
        padding: min(1vw, 1rem) min(3vw, 3rem);
        border-radius: .25rem;
        border: 2px solid var(--default-white);
        font-family: var(--body-font-family);
        font-size: min(1.25vw, 1.25rem);
        font-weight: 500;
    }
}

@media only screen and (max-width: 50.99rem) {
    .site-home #g-expanded {
        background: url('/images/template/bg-calendar-school.jpg') 50% 50% no-repeat;
        background-size: cover;
        position: relative;
    }
    .site-home #g-expanded:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(var(--primary-color-rgb),.9);
        z-index: 1;
    }
    .site-home #g-expanded > .g-container {
        position: relative;
        z-index: 2;
        padding: 2rem 1rem!important;
    }
    /*.site-home #g-expanded > .g-container > .g-grid {
        display: flex;
        flex-direction: row;
        gap: min(4vw, 4rem);
    }
    .site-home #g-expanded > .g-container > .g-grid > .g-block:nth-child(1) {
        flex: 2;
        width: unset;
        max-width: unset;
    }
    .site-home #g-expanded > .g-container > .g-grid > .g-block:nth-child(2) {
        flex: 1;
        width: unset;
        max-width: unset;
    }*/

    .site-home #g-expanded > .g-container > .g-grid > .g-block:nth-child(1) {
        padding-bottom: 2rem;
    }

    .calbox-container > .g-content {
        height: 100%;
    }
    .calbox-container .g-content-array {
        height: 100%;
    }
    .calbox-container .g-content-array > .g-grid {
        height: 100%;
    }
    .calbox-container .g-content-array > .g-grid > .g-block {
        height: 100%;
    }
    .calbox-container .g-content-array > .g-grid > .g-block > .g-content {
        height: 100%;
    }
    .calbox-container .g-array-item {
        height: 100%;
    }
    .calbox-container .g-array-item-text {
        height: 100%;
    }
    .calbox-container .calendar-widget-wrapper {
        height: 100%;
    }
    .calbox-container .calendar-widget-wrapper .widget-feed {
        flex: 1;
    }

    .site-home #g-expanded .widget-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .site-home #g-expanded .widget-wrapper .widget-title .g-title {
        margin: 0;
        padding: 0;
        line-height: 1;
        border: none;
        background: none;
        color: var(--default-white);
        font-family: var(--body-font-family);
        font-size: 6vw;
        font-weight: 500;
        text-transform: none;
        font-variant-caps: normal;
        text-align: left;
    }

    .facebook-widget-wrapper .widget-feed {
        margin: 0!important;
        padding: 0!important;
    }

    .site-home #g-expanded .widget-button .button {
        background: var(--tertiary-color);
        color: var(--default-white);
        padding: 1rem;
        border-radius: .25rem;
        border: 2px solid var(--default-white);
        font-family: var(--body-font-family);
        font-size: 4vw;
        font-weight: 500;
    }
}

@media only screen and (min-width: 50.99rem) {
    .ec-row {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .ec-row > .g-particle {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .ec-row > .g-particle > div {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .ec-row .rme-items {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        height: 100%;
    }
    .ec-row .rme-items:after {
        display: none!important;
    }
    .ec-row .rme-item {
        margin: 0;
        padding: min(1vw, 1rem);
        background: rgba(255,255,255,.2);
        border-radius: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: min(1.5vw, 1.5rem);
        border-radius: .75rem;
    }
    .ec-row .rme-badge {
        margin: 0;
        padding: 0;
        background: transparent;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        gap: min(.5vw, .5rem);
        justify-content: center;
        align-items: flex-start;
    }
    .ec-row .rme-day {
        margin: 0;
        padding: 0;
        order: 2;
        color: var(--default-white);
        font-family: var(--title-font-family);
        line-height: 1;
        font-size: min(3vw, 3rem);
        font-weight: 700;
    }
    .ec-row .rme-month {
        margin: 0;
        padding: 0;
        order: 1;
        color: var(--default-white);
        font-family: var(--title-font-family);
        line-height: 1;
        font-size: min(2vw, 2rem);
        font-weight: 700;
    }
    .ec-row .rme-description {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: min(.5vw, .5rem);
    }
    .ec-row .rme-title {
        margin: 0;
        padding: 0;
        order: 2;
        color: var(--default-white);
        font-family: var(--body-font-family);
        line-height: 1;
        font-size: min(1.25vw, 1.25rem);
        font-weight: 400;
    }
    .ec-row .rme-time {
        margin: 0;
        padding: 0;
        order: 1;
        color: var(--default-white);
        font-family: var(--body-font-family);
        line-height: 1;
        font-size: min(1.5vw, 1.5rem);
        font-weight: 700;
    }
    .ec-row .rme-details {
        margin: 0;
        padding: 0;
        display: none!important;
    }
    .ec-row .rme-timeline {
        margin: 0;
        padding: 0;
        transform: translateY(2rem);
        display: none!important;
    }
    .ec-row .rme-arrow {
        margin: 0;
        padding: 0;
        background: #abacab;
        color: var(--default-white);
        font-size: min(2vw, 2rem);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: min(2vw, 2rem)!important;
        border-radius: 50%;
        font-weight: 700;
        transition: .3s all ease-in-out;
    }
    .ec-row .rme-arrow:hover {
        transform: scale(1.1);
        color: var(--primary-color);
    }
    .ec-row .rme-arrow.left {
        font-size: min(2vw, 2rem)!important;
    }
    .ec-row .rme-arrow.right {
        margin: 0;
        padding: 0;
        font-size: min(2vw, 2rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    .ec-row {
        margin: 0;
        padding: 0;
    }
    .ec-row > .g-content {
        margin: 0;
        padding: 0;
    }
    .ec-row > .g-content > div {
        margin: 0;
        padding: 0;
    }
    .ec-row .rme-items {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .ec-row .rme-item {
        margin: 0;
        padding: 1rem;
        flex: 1;
        background: rgba(255,255,255,.2);
        border-radius: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
    }
    .ec-row .rme-badge {
        margin: 0;
        padding: 0;
        background: transparent;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: flex-start;
    }
    .ec-row .rme-day {
        margin: 0;
        padding: 0;
        order: 2;
        color: var(--default-white);
        font-family: var(--sub-title-family);
        line-height: 1;
        font-size: 5vw;
        font-weight: 700;
    }
    .ec-row .rme-month {
        margin: 0;
        padding: 0;
        order: 1;
        color: var(--default-white);
        font-family: var(--sub-title-family);
        line-height: 1;
        font-size: 5vw;
        font-weight: 700;
    }
    .ec-row .rme-description {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .ec-row .rme-title {
        margin: 0;
        padding: 0;
        order: 2;
        color: var(--default-white);
        font-family: var(--title-font-family);
        line-height: 1;
        font-size: 4vw;
        font-weight: 400;
    }
    .ec-row .rme-time {
        margin: 0;
        padding: 0;
        order: 1;
        color: var(--default-white);
        font-family: var(--sub-title-family);
        line-height: 1;
        font-size: 4vw;
        font-weight: 700;
    }
    .ec-row .rme-details {
        margin: 0;
        padding: 0;
        display: none!important;
    }
    .ec-row .rme-timeline {
        margin: 0;
        padding: 0;
        transform: translateY(3rem);
        display: none!important;
    }
    .ec-row .rme-arrow {
        margin: 0;
        padding: 0;
        background: #BFBFBF;
        color: var(--default-black);
        font-size: min(1.5vw, 1.5rem);
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: min(1vw, 1rem)!important;
        border-radius: 50%;
        font-weight: 700;
        transition: .3s all ease-in-out;
    }
    .ec-row .rme-arrow:hover {
        transform: scale(1.1);
        color: var(--primary-color);
    }
    .ec-row .rme-arrow.left {
        font-size: min(1.5vw, 1.5rem)!important;
    }
    .ec-row .rme-arrow.right {
        margin: 0;
        padding: 0;
        font-size: min(1.5vw, 1.5rem)!important;
    }
}

/*FOOTER*/
@media only screen and (min-width: 50.99rem) {
    #g-container-footer {
        border-top: .5rem solid var(--secondary-color);
        border-bottom: 3rem solid var(--primary-color);
    }

    #g-footer > .g-container {
        padding: min(4vw, 4rem) min(2vw, 2rem) min(6vw, 6rem) min(2vw, 2rem)!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    #g-container-footer {
        border-top: .5rem solid var(--secondary-color);
        border-bottom: 3rem solid var(--primary-color);
    }

    #g-footer > .g-container {
        padding: 2rem 1rem!important;
    }
}

@media only screen and (min-width: 50.99rem) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: min(3vw, 3rem);
    }

    .footer-wrapper .footer-content h1 {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: min(4vw, 4rem);
        font-family: var(--body-font-family);
        text-align: center;
        font-weight: 400;
        color: var(--primary-color);
        text-transform: none;
        font-variant-caps: normal;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
    }
    .footer-wrapper .footer-content h1 a {
        color: var(--primary-color)!important;
    }
    #g-footer .footer-wrapper .footer-content h1 a:hover {
        color: var(--primary-color)!important;
    }
    .footer-wrapper .footer-content p {
        margin: 0;
        padding: 0;
        line-height: 1.4;
        font-size: min(1.5vw, 1.5rem);
        font-family: var(--title-font-family);
        text-align: center;
        color: var(--default-black);
        font-weight: 600;
    }
    .footer-wrapper .footer-content p a {
        color: var(--default-black)!important;
    }
    #g-footer .footer-wrapper .footer-content p a:hover {
        color: var(--default-black)!important;
    }

    .footer-wrapper .footer-buttons {
        display: flex;
        flex-direction: row;
        gap: min(2vw, 2rem);
    }
    .footer-wrapper .footer-buttons a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: transparent;
        border: 2px solid var(--default-black);
        border-radius: 0;
        color: var(--default-black)!important;
        padding: min(1.5vw, 1.5rem) min(1vw, 1rem);
        font-weight: 700;
        font-size: min(1.25vw, 1.25rem);
    }
    #g-footer .footer-wrapper .footer-buttons a:hover {
        color: var(--default-black)!important;
    }
    
    .footer-wrapper .ptp-wrapper {
        display: flex;
        flex-direction: row;
        gap: min(3vw, 3rem);
        align-items: center;
    }
    .footer-wrapper .ptp-wrapper .ptp-logo img {
        width: min(12vw, 12rem);
    }
    .footer-wrapper .ptp-wrapper .ptp-content {
        flex: 1;
    }
    .footer-wrapper .ptp-wrapper .ptp-content h3 {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: min(2.5vw, 2.5rem);
        text-align: left;
        font-family: var(--body-font-family);
        color: var(--default-black);
        font-weight: 400;
        border: none;
        background: none;
        text-transform: none;
        font-variant-caps: normal;
        margin-bottom: min(1vw, 1rem);
    }
    .footer-wrapper .ptp-wrapper .ptp-content p {
        margin: 0;
        padding: 0;
        line-height: 1.3;
        font-size: min(1.25vw, 1.25rem);
    }
}

@media only screen and (max-width: 50.99rem) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-wrapper .footer-content h1 {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 6vw;
        font-family: var(--body-font-family);
        text-align: center;
        font-weight: 400;
        color: var(--primary-color);
        text-transform: none;
        font-variant-caps: normal;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
    }
    .footer-wrapper .footer-content h1 a {
        color: var(--primary-color)!important;
    }
    #g-footer .footer-wrapper .footer-content h1 a:hover {
        color: var(--primary-color)!important;
    }
    .footer-wrapper .footer-content p {
        margin: 0;
        padding: 0;
        line-height: 1.4;
        font-size: 4vw;
        font-family: var(--title-font-family);
        text-align: center;
        color: var(--default-black);
        font-weight: 600;
    }
    .footer-wrapper .footer-content p a {
        color: var(--default-black)!important;
    }
    #g-footer .footer-wrapper .footer-content p a:hover {
        color: var(--default-black)!important;
    }

    .footer-wrapper .footer-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-wrapper .footer-buttons a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: transparent;
        border: 2px solid var(--default-black);
        border-radius: 0;
        color: var(--default-black)!important;
        padding: 1rem;
        font-weight: 700;
        font-size: 3.5vw;
        min-width: calc(50% - .5rem);
        max-width: calc(50% - .5rem);
    }
    #g-footer .footer-wrapper .footer-buttons a:hover {
        color: var(--default-black)!important;
    }
    
    .footer-wrapper .ptp-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .footer-wrapper .ptp-wrapper .ptp-logo {
        text-align: center;
    }
    .footer-wrapper .ptp-wrapper .ptp-logo img {
        width: 33%;
    }
    .footer-wrapper .ptp-wrapper .ptp-content {
        flex: 1;
    }
    .footer-wrapper .ptp-wrapper .ptp-content h3 {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 6vw;
        text-align: left;
        font-family: var(--body-font-family);
        color: var(--default-black);
        font-weight: 400;
        border: none;
        background: none;
        text-transform: none;
        font-variant-caps: normal;
        margin-bottom: .5rem;
    }
    .footer-wrapper .ptp-wrapper .ptp-content p {
        margin: 0;
        padding: 0;
        line-height: 1.3;
        font-size: 4vw;
    }
}

/*BOTTOM*/
@media only screen and (min-width: 50.99rem) {
    #g-bottom {
        position: relative;
        z-index: 10;
    }
    #g-bottom > .g-container {
        padding: 2rem 0!important;
    }
    #g-bottom .admod td {
        padding-top: 0!important;
    }
}

@media only screen and (max-width: 50.99rem) {
    #g-bottom {
        position: relative;
        z-index: 10;
    }
    #g-bottom > .g-container {
        padding: 2rem 0!important;
    }
    #g-bottom .admod td {
        padding-top: 0!important;
    }
}

.search-page #searchForm .btn {
    background: var(--primary-color);
}

.grid-articles .g-array-item-text a:not(a.button) {
    color: var(--primary-color);
}
.grid-articles .g-array-item-text a {
    color: var(--primary-color);
}

@media only screen and (max-width: 50.99rem) {
    .admod.adside tbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem .5rem;
    }
}

@media only screen and (max-width: 50.99rem) {
    body#site-grid.newslayout #g-container-main > .g-container {
        padding: 2rem 1rem!important;
    }
    body#site-grid.newslayout #g-container-main #g-mainbar {
        margin: 0!important;
        padding: 0!important;
    }

    #site-grid.newslayout .grid-mobile-stacked .g-item-title {
        --grid-title-font-size: 3vw;
    }
}

@media only screen and (max-width: 50.99rem) {
    body .side-menu-particle .g-blockcontent-subcontent-title-text {
        --side-menu-font-size-desktop: 4vw;
    }
}

/* Ensure the container can hold the absolute-positioned X */
.pop-box {
    position: relative;
}

/* The X button style */
.close-pop-box {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 24px;
    z-index: 10;
    border: 2px solid white;
    line-height: 0;
}

.close-pop-box:hover {
    background: #444;
}

.site-home #g-utility:not(:has(.pop-box .g-content-array > .g-grid:nth-child(1))) {
    display: none!important;
}