<div class="footer-wrapper">
<div class="footer-title">
<h2><a href="home">St. Mary Catholic Church</a></h2>
</div>
<div class="footer-content">
<div class="footer-content-column">
<div class="footer-content-cell footer-text">
<div>
<p><a href="home/contact-us-directions">312 Lincoln Avenue,<br />Woodstock, IL 60098</a><br />Phone: <a href="tel:8153383377" target="_blank" rel="noopener noreferrer">(815) 338-3377</a><br /><a href="mailto:parish@stmary-woodstock.org" target="_blank" rel="noopener noreferrer">parish@stmary-woodstock.org</a></p>
</div>
<div>{loadmoduleid 256}</div>
</div>
<div class="footer-content-cell footer-hours">
<p><strong>Office Hours:</strong><br />Monday - Friday: 8:00AM - 4:00PM<br /><em>The office is closed daily from<br />12:30PM - 1:30PM for Mass<br />and lunch.</em></p>
</div>
<div class="footer-content-cell footer-link-wrapper">
<p><strong>Quick Links</strong></p>
<div class="footer-links"><a href="home/registration">Parish Registration</a><a href="https://giving.ncsservices.org/App/Giving/ncs-1615" target="_blank" rel="noopener noreferrer">Online Giving</a><a href="https://www.rockforddiocese.org/" target="_blank" rel="noopener noreferrer">Diocesan News</a><a href="https://bible.usccb.org/daily-bible-reading" target="_blank" rel="noopener noreferrer">Daily Readings</a><a href="https://www.franciscanmedia.org/saint-of-the-day/" target="_blank" rel="noopener noreferrer">Saint of the Day</a></div>
</div>
</div>
<div class="footer-logo-icon"><a href="home"><img src="images/template/2026-church/emblem.svg" alt="" /></a></div>
</div>
</div>