<div class="welc-wrapper">
<div class="welc-video"><iframe width="640" height="480" src="https://drive.google.com/file/d/1gdYyAjWlZgYz2WogHfRds-3iN211B-QD/preview"></iframe></div>
<div class="welc-inner-box">
<div class="welc-title">
<h2>Welcome From Fr. Sean</h2>
</div>
<div class="welc-content">
<p>Welcome to St. Mary Catholic Church. We are a diverse community on a shared pilgrim journey, united by our mission: <strong>Love God. Love Neighbor. Go Make Disciples.</strong></p>
<p>Whether you're visiting, returning, or looking for a parish home, you are truly welcome here. Join us as we worship the Lord, grow in faith together, and live as disciples in our families and community.</p>
</div>
<div class="welc-button"><a class="button" href="https://www.youtube.com/playlist?list=PLsc9ELefgyybumyc3BZobAcuRqg7b3dFQ" target="_blank" rel="noopener noreferrer">Dose of the Ghost</a></div>
</div>
</div>